<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-include="'layout/task-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">Attachments for {{task.name}} &nbsp;{{task.id}}</div>
        <div class="mdw-heading-actions">
          <div ng-if="confirm">
            <div>{{note.message}}</div>
            <div>
              <button
                class="btn btn-danger mdw-btn"
                type="button"
                ng-click="deleteAttachment()">Delete</button>
              <button
                class="btn mdw-btn mdw-cancel-btn"
                type="button"
                ng-click="cancel()">Cancel</button>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-danger mdw-btn"
            ng-if="!add && !confirm"
            ng-click="setConfirm(true)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </div>
      <div
        class="mdw-notes-grid"></div>
      <div ng-include="'tasks/attachmentsForm.html'"></div>
    </div>
  </div>
</div>