<form name="subtaskForm" class="form-horizontal mdw-section" ng-submit="save()" role="form">
  <div class="form-group" ng-class="{'has-error': subtask.template === undefined}">
    <label class="control-label col-xs-2 mdw-required" for="taskTemplate">Template:</label>
    <div class="mdw-float-left mdw-lg-width">
      <input type="text" id="taskTemplate" class="form-control" autofocus placeholder=" search"
        uib-typeahead="template as template.name for template in findTemplate($viewValue)"
        typeahead-editable="false" ng-model="subtask.template"
        ng-blur="subtask.template === '' ? undefined : subtask.template">
    </div>
    <div class="mdw-buttons mdw-sm-indent mdw-float-left">
      <button class="btn btn-success mdw-btn" type="submit" ng-disabled="!isSaveEnabled()">Create</button>
      <button class="btn mdw-btn mdw-cancel-btn" type="reset" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
