<div class="mdw-flex-item">
  <div class="mdw-flex-item-left">
    <div>
      <input type="checkbox" ng-if="!task" ng-model="item.selected" ng-change="listModel.notAllSelected()"></input>
      <div>
        <a class="mdw-item-link" href="#/tasks/{{item.id}}" ng-if="!task">{{item.title ? item.title : item.name}} &nbsp;{{item.id}}</a>
        <div class="mdw-item-sub">
          <span ng-if="item.masterRequestId">Master request: 
            <a href="#/workflow/masterRequests/{{item.masterRequestId}}" class="mdw-link">{{item.masterRequestId}}</a>
          </span>
        </div>
        <div class="mdw-item-sub">Created {{item.start}}<span ng-if="item.due">, &nbsp;Due <i class="mdw-item-highlight">{{item.due}}</i></span>
          <img class="mdw-item-alert" ng-if="item.alert" src="images/alert.png" alt="alert" />
        </div>
        <div class="mdw-item-sub" ng-if="item.end">{{item.status}} {{item.end}}</div>
      </div>
    </div>
  </div>
  <div class="mdw-flex-item-right">
    <div class="mdw-item">
      <span ng-if="item.status != 'Open'">{{item.status}}</span>
    </div>
    <div ng-if="item.assignee">
      <img src="images/user.png" alt="user"/> {{item.assignee}}
    </div>
  </div>
</div>