<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-include="'layout/task-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          {{task.name}} &nbsp;<a href="#/tasks/{{task.id}}">{{task.id}}</a> <span ng-if="isDirty()" class="mdw-dirty">*</span>
        </div>
        <!-- NOTE: wrap attribute must be adjusted if more action buttons are added
           TODO: include this wrap calculation in the directive so it's not hard-coded in each usage -->
        <mdw-actions wrap="480px">
          <button type="button" class="btn btn-primary mdw-btn" ng-if="task.editable" ng-click="saveValues()">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
          </button>
          <button type="button" class="btn btn-primary mdw-btn" mdw-action-pop-button uib-popover-template="'tasks/taskActions.html'"
            ng-disabled="task.dirty || !task.editable">
            <span class="glyphicon glyphicon-ok"></span> Action
          </button>
        </mdw-actions>
      </div>
      <div class="mdw-section">
        <div ng-include="'tasks/taskItem.html'"></div>
        <hr class="mdw-hr">
        <div class="mdw-section">
          <mdw-values mdw-values-editable="task.editable" 
            mdw-values-values="values">
          </mdw-values>
        </div>
      </div>
    </div>
  </div>
</div>  
