<div class="mdw-float-left">
  <div>
    <label class="mdw-label">Status:</label>
    <ul class="dropdown-menu mdw-popover-menu mdw-check-menu mdw-bordered-menu">
      <li>
        <div class="mdw-checked" ng-if="model.taskFilter.status == '[Active]'">
          <i class="glyphicon glyphicon-ok"></i>
          <a class="mdw-drop-selected" href="">[Active]</a>
        </div>
        <a href="" ng-if="model.taskFilter.status != '[Active]'" ng-click="model.taskFilter.status = '[Active]'">[Active]</a>
      </li>
      <li>
        <div class="mdw-checked" ng-if="model.taskFilter.status == '[Closed]'">
          <i class="glyphicon glyphicon-ok"></i>
          <a class="mdw-drop-selected" href="">[Closed]</a>
        </div>
        <a href="" ng-if="model.taskFilter.status != '[Closed]'" ng-click="model.taskFilter.status = '[Closed]'">[Closed]</a>
      </li>
    </ul>
  </div>
  <div>
    <label class="mdw-label">Advisory:</label>
    <ul class="dropdown-menu mdw-popover-menu mdw-check-menu mdw-bordered-menu">
      <li ng-repeat="advisory in taskAdvisories">
        <div class="mdw-checked" ng-if="model.taskFilter.advisory == advisory">
          <i class="glyphicon glyphicon-ok"></i>
          <a class="mdw-drop-selected" href="">{{advisory}}</a>
        </div>
        <a href="" ng-if="model.taskFilter.advisory != advisory" ng-click="model.taskFilter.advisory = advisory">{{advisory}}</a>
      </li>
    </ul>
  </div>
  <div>
    <button type="button" class="btn btn-primary mdw-btn" ng-click="resetFilter();clearTypeahead();">Reset</button>
  </div>
</div>
<div class="mdw-float-left mdw-sm-indent mdw-med-width2">
  <!-- placeholder -->
  <label class="mdw-label">&nbsp;</label> 
  <div class="mdw-inner-addon mdw-right-addon" uib-dropdown dropdown-append-to-body="true">
    <i class="glyphicon glyphicon-chevron-down"></i>
    <input type="text" class="form-control mdw-dropfilter"
      placeholder="Category" uib-dropdown-toggle readonly value="{{model.taskFilter.category}}">
    <ul class="dropdown-menu mdw-dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
      <li ng-repeat="category in taskCategories">
        <a href="" ng-click="model.taskFilter.category = category.name">{{category.name}}</a>
      </li>
    </ul>
  </div>
   <div class="mdw-vsm-indent mdw-med-width2" style="margin-top:17px;">
    <div class="mdw-flex-item">
      <div class="mdw-inner-addon mdw-right-addon" uib-dropdown dropdown-append-to-body="true" auto-close="disabled">
        <i class="glyphicon glyphicon-chevron-down"></i>
        <input type="text" class="form-control mdw-dropfilter" placeholder="Indexes..." 
          uib-dropdown-toggle readonly>
        <ul class="dropdown-menu mdw-dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="width:500px;">
          <li class="mdw-value-item" ng-repeat="(indexKey, indexValue) in getIndexFilters()">
            <input type="text" class="form-control" style="width:150px;" placeholder="Key" readonly popover-stay-open
              ng-model="indexKey">
            <div class="glyphicon glyphicon-pause mdw-glyph-equals"></div>
            <input type="text" class="form-control" style="width:300px;margin-left:20px;" placeholder="Value" popover-stay-open
              ng-model="indexValue" ng-change="setValueFilter(indexKey,indexValue))">
            <button type="button" class="btn mdw-btn" style="background-color:transparent;margin-left:5px;" popover-stay-open title="Remove"
              ng-click="removeIndexFilter(indexKey)">
              <span class="glyphicon glyphicon-remove" style="color:#337ab7;" popover-stay-open></span>
            </button>
          </li>
          <li class="mdw-value-item">
            <input type="text" class="form-control" style="width:120px;" placeholder="Key" popover-stay-open
              ng-model="indexKey">
            <div class="glyphicon glyphicon-pause mdw-glyph-equals"></div>
            <input type="text" class="form-control" style="width:300px;margin-left:20px;" placeholder="Value" popover-stay-open
              ng-model="indexValue">
            <button type="button" class="btn mdw-btn" style="background-color:transparent;margin-left:5px;" popover-stay-open title="Add"
              ng-click="setIndexFilter(indexKey,indexValue);indexKey=null;indexValue=null;">
                <span class="glyphicon glyphicon-plus" style="color:#337ab7;" popover-stay-open></span>
            </button>
          </li>
        </ul>
      </div>
      <div class="glyphicon glyphicon-asterisk mdw-glyph-asterisk" ng-if="model.taskFilter.indexes"></div>
    </div>
  </div>
  <div>
  </div>
</div>