
<div class="panel panel-default mdw-panel">
  <div class="panel-heading mdw-heading">
    <div class="mdw-heading-label">
      {{task.name}} &nbsp;{{task.id}}
    </div>
    <div class="mdw-heading-actions">
      <button type="button" class="btn btn-primary mdw-btn" uib-popover-template="'tasks/taskActions.html'" popover-placement="left"> 
        <span class="glyphicon glyphicon-ok"></span> Action
      </button>
      <mdw-panel-collapse mdw-collapsed="isSummaryCollapsed"></mdw-panel-collapse>
    </div>
  </div>
  <div class="mdw-section" uib-collapse="isSummaryCollapsed">
    <div class="mdw-flex-item">
      <div class="mdw-flex-item-left">
        <div>
          <div>
            <div class="mdw-item">
              <span ng-if="task.masterRequestId">Master request: <a href="#" class="mdw-link">{{task.masterRequestId}}</a></span>
            </div>
            <div class="mdw-item">Created {{task.created}}, <span ng-if="task.due">Due <i class="mdw-item-highlight">{{task.due}}</i></span>
              <img class="mdw-item-alert" ng-if="task.alert" src="images/alert.png" alt="alert" />
              <input type="text" ng-show="false" uib-datepicker-popup is-open="popups.dueDate" ng-model="task.dueDate" popup-placement="right-top" />
              <span ng-if="!task.due && !task.isEditable"><i>No Due Date</i></span>
              <button type="button" class="btn mdw-btn btn-default" ng-if="task.isEditable" ng-click="openDueDatePopup()" style="margin-left:5px;">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </div>
            <div class="mdw-item-sub" ng-if="task.endDate">{{task.status}} {{task.endDate}}</div>
          </div>
        </div>
      </div>
      <div class="mdw-flex-item-right" style="min-width: 125px;">
        <div class="mdw-item">
          <span ng-if="task.status != 'Open'">{{task.status}}</span>
        </div>
        <div ng-if="task.assignee">
          <img src="images/user.png" alt="user"/> {{task.assignee}}
        </div>
      </div>
    </div>
    <hr class="mdw-hr">
    <div ng-if="task.ownerType == 'PROCESS_INSTANCE'" style="max-width:100%;overflow-x:auto;">
      <div class="mdw-item">
        <span ng-if="task.ownerId">Process: <a href="#" class="mdw-link">{{task.ownerId}}</a></span>
        <button type="button" class="btn mdw-btn btn-default" ng-click="refreshWorkflowImage()" style="margin-left:5px;">
          <i class="glyphicon glyphicon-refresh"></i>
        </button>
      </div>
      <img ng-src="{{mdw.roots.hub}}/workflowImage?taskInstanceId={{task.id}}&activityInstanceId={{task.activityInstanceId}}" alt="Workflow image" />
    </div>
  </div>
</div>

