img {
  margin-top: 10px;
  margin-bottom: 12px;
}

.inline {
	margin-top: 0;
	margin-bottom: 0;
}

.project-name {
  font-size: 4.25rem;
}

article h4 { 
	color: black !important;
}

.docs article {
  min-height: 145em !important;;
}

.highlight .k {
  color: #7195db !important;
}

.highlight .kd {
  color: #34d058 !important;
}

.highlight .kt {
  color: #5ca4ae !important;
}

.highlighter-rouge {
  position: relative;
  top: 2px;
	margin-bottom: 8px;
}

li .highlighter-rouge {
	margin-top: 0;
	margin-bottom: 0;
}
.copy-txt {
  font-family: monospace;
	font-size: 14px;
	padding: 4px 6px;
	border: 1px solid gray;
	border-radius: 3px 0 0 3px;
}
.copy-btn {
  font-family: monospace;
  background-color: #eff3f6;
  border: 1px solid gray;
  border-left: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0 0 10px;
  -webkit-padding-after: 1px;
  position: relative;
  top: 2px;
}
.copy-adj {
	position: relative;
	top: 1px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.copy-adj {
	  position: relative;
	  top: 1px;
	  left: -4px;
	}
}
