<div class="row">
	<div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/admin-nav.html'"></div>
	<div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label" ng-if="create">New Role</div>
        <div class="mdw-heading-label" ng-if="!create">Roles <span class="mdw-heading-sub">({{getRoleList().roles.length}})</span></div>
        <div class="mdw-heading-actions" ng-if="!create && authUser.hasRole('User Admin')">
          <button type="button" class="btn btn-primary mdw-btn" ng-click="setCreate(true)">
            <span class="glyphicon glyphicon-plus"></span> New
          </button>        
        </div>
      </div>
      <ul class="mdw-list" ng-if="!create">
        <li ng-repeat="role in getRoleList().roles">
          <div>
            <a class="mdw-item-link" href="#/roles/{{role.name}}">{{role.name}}</a>
          </div>
          <div class="mdw-item-sub">{{role.description}}</div>
        </li>
      </ul>
      <div ng-if="create" ng-include="'roles/roleForm.html'">
      </div>
	  </div>
	</div>
</div>