<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.birt.core.ScriptFunctionService">
      <Category
            desc="MDW custom reporting functions"
            factoryclass="com.centurylink.mdw.reports.birt.functions.MdwScriptFunctionFactory"
            name="MdwFunctions">
         <Function
               desc="Get a list of workflow projects."
               isStatic="true"
               name="getWorkflowEnvironmentNames"
               variableArguments="false">
            <DataType 
                  value="List">
            </DataType>
         </Function>
         <Function
               desc="Get a workflow environment."
               isStatic="true"
               name="getWorkflowEnvironment"
               variableArguments="false">
            <DataType 
                  value="Object">
            </DataType>
            <Argument
                  isOptional="false"
                  name="workflowEnvironmentName"
                  desc="String">
            </Argument>
         </Function>
         <Function
               desc="Get the reports webapp URL."
               isStatic="true"
               name="getReportsWebAppUrl"
               variableArguments="false">
            <DataType 
                  value="Object">
            </DataType>
            <Argument
                  isOptional="false"
                  name="jdbcUrl"
                  desc="String">
            </Argument>
         </Function>
         <Function
               desc="Get the task manager webapp URL."
               isStatic="true"
               name="getTaskManagerUrl"
               variableArguments="false">
            <DataType 
                  value="Object">
            </DataType>
            <Argument
                  isOptional="false"
                  name="jdbcUrl"
                  desc="String">
            </Argument>
         </Function>
         <Function
               desc="Defines the columns available on the virtual Attributes table."
               isStatic="true"
               name="getAttributeNames"
               variableArguments="false">
            <DataType 
                  value="List">
            </DataType>
            <Argument
                  isOptional="false"
                  name="instanceDataEnv"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="false"
                  name="startDate"
                  desc="Object">
            </Argument>
            <Argument
                  isOptional="false"
                  name="endDate"
                  desc="Object">
            </Argument>
         </Function>
         <Function
               desc="Retrieves the order values (JSON format) along with attributes."
               isStatic="true"
               name="fetchOrdersWithAttributes"
               variableArguments="false">
            <DataType 
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="instanceDataEnv"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="false"
                  name="startDate"
                  desc="Object">
            </Argument>
            <Argument
                  isOptional="false"
                  name="endDate"
                  desc="Object">
            </Argument>
            <Argument
                  isOptional="true"
                  name="sourceSystem"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="true"
                  name="attributes"
                  desc="String[][]">
            </Argument>
         </Function>
         <Function
               desc="Retrieves the BAM events for an order."
               isStatic="true"
               name="fetchOrderEvents"
               variableArguments="false">
            <DataType 
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="instanceDataEnv"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="false"
                  name="masterRequestId"
                  desc="Object">
            </Argument>
         </Function>
         <Function
               desc="Retrieves the steps (JSON format) for a particular order."
               isStatic="true"
               name="getOrderProgressSteps"
               variableArguments="false">
            <DataType 
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="instanceDataEnv"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="false"
                  name="masterRequestId"
                  desc="Object">
            </Argument>
         </Function>
         <Function
               desc="Parameter binding for multi-select statements"
               isStatic="true"
               name="addParameterBindings"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="reportContext"
                  desc="IReportContext">
            </Argument>
         </Function>
         <Function
               desc="Inspect an object for debugging purposes"
               isStatic="true"
               name="inspectObject"
               variableArguments="false">
            <DataType
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="object"
                  desc="Object">
            </Argument>
         </Function>
         <Function
               desc="Retrieves task instance data (JSON format)."
               isStatic="true"
               name="fetchTaskInstances"
               variableArguments="false">
            <DataType 
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="instanceDataEnv"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="false"
                  name="startDate"
                  desc="Object">
            </Argument>
         </Function>
         <Function
               desc="Retrieves data for a workflow environment (JSON format)."
               isStatic="true"
               name="fetchDataForWorkflowInstance"
               variableArguments="false">
            <DataType 
                  value="String">
            </DataType>
            <Argument
                  isOptional="false"
                  name="instanceDataEnv"
                  desc="String">
            </Argument>
            <Argument
                  isOptional="false"
                  name="sql"
                  desc="String">
            </Argument>
         </Function>
      </Category>
   </extension>
</plugin>
