build/
deploy/
debug/
.gradle/
.settings/
bin/
notes/
local.gradle
.temp/
temp/
attachments/
mdw.log
logs/
/deps.txt
/buildSrc/
mdw-boot-*.jar
/data.json
.idea/**/*.iml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
.idea/**/libraries
