<form name="taskWorkGroupTabForm" class="form-horizontal mdw-section" ng-submit="save()" role="form">

	<div class="row">
		<div class="col-md-10">
			<div class="form-group">
				<label class="control-label col-xs-3" for="routingRules">Routing
					Strategy:</label>

				<div class="col-xs-3">
					<input type="text" list="routingRules" class="form-control"
						ng-model="taskTemplate.RoutingStrategy" maxlength="30">
					<datalist id="routingRules" ng-model="taskTemplate.RoutingStrategy">
						<option ng-repeat="routingRules in getRoutingRules()"
							value="{{routingRules}}"></option>
					</datalist>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3" for="autoAssignRules">Auto
					Assign:</label>

				<div class="col-xs-3">
					<input type="text" list="autoAssignRules" class="form-control"
						ng-model="taskTemplate.AutoAssign" maxlength="30">
					<datalist id="autoAssignRules" ng-model="taskTemplate.AutoAssign">
						<option ng-repeat="autoAssignRules in getRoutingRules()"
							value="autoAssignRules"></option>
					</datalist>
				</div>

			</div>

			<div class="col-md-6 mdw-split-left">
				<div class="panel panel-default mdw-panel">
					<div class="panel-heading mdw-heading">
						<div class="mdw-heading-label">Workgroup Membership</div>
						<div class="mdw-heading-actions">
							<button type="button" class="btn btn-primary mdw-btn"
								uib-popover-template="'taskTemplates/groupMenu.html'"
								popover-placement="left" pop-click ng-if="!edit && !confirm">
								<span class="glyphicon glyphicon-plus"></span> Add
							</button>
						</div>
					</div>
					<ul class="mdw-list">
						<li ng-repeat="workgroup in getgroups()"
							ng-if="workgroup != 'Common'">
							<div>
								<a class="mdw-item-link" href="#/groups/{{workgroup}}">{{workgroup}}</a>
								<div class="mdw-item-action">
									<a uib-tooltip="Remove  {{workgroup}}" tooltip-placement="left"
										ng-if="!edit && !confirm"
										ng-click="removeWorkgroup(workgroup)"> <span
										class="glyphicon glyphicon-remove"></span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="mdw-form-footer">
		<div class="col-xs-2"></div>
		<div class="mdw-message">{{status.message}}</div>
		<div class="mdw-buttons" ng-if="authUser.hasRole('Process Design')">
			<button class="btn btn-success mdw-btn" type="submit"
				ng-disabled="!isSaveEnabled()">Save</button>
			<button class="btn mdw-btn mdw-cancel-btn" type="button"
				ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>