<div class="row">
	<div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/tasks-nav.html'"></div>
	<div class="col-md-10">
		<div class="panel panel-default mdw-panel">
			<div class="panel-heading mdw-heading">
				<div class="mdw-heading-label">
					Task Templates <span class="mdw-heading-sub">({{getTaskTemplateList().taskTemplates.length}})</span>
				</div>
				<div class="mdw-heading-input">
					<input type="text" class="form-control mdw-inline" autofocus
						placeholder=" find Task" ng-model="selected"
						uib-typeahead="task as task.name for task in find($viewValue)"
						typeahead-editable="false" typeahead-on-select="select()"
						ng-change="change()">
				</div>
			</div>
  		<ul class="mdw-list" ng-if="!create">
  			<li ng-repeat="task in getTaskTemplateList().taskTemplates">
  				<div>
  					<a class="mdw-item-link" href="#/taskTemplates/{{task.name}}">{{task.name}}</a>
  					<a class="mdw-item-sub">({{task.packageName}})</a>
  				</div>
  				<div class="mdw-item-sub">{{task.TaskDescription}}</div>
  			</li>
  		</ul>
    </div>
	</div>
</div>
