secring.gpg
secret.properties
secrets.tar
.metadata/
.gradle/
.recommenders/
.JETEmitters/
RemoteSystemsTempFiles/
Servers/
testResults/
npm-debug.log
notes.txt
activemq-data/
temp/
.DS_Store
out/
mdw/.idea/workspace.xml
mdw/.idea/uiDesigner.xml
mdw/.idea/tasks.xml
/lib/
.settings/
.classpath
.project
