secring.gpg
secret.properties
secrets.tar
.metadata/
.gradle/
.recommenders/
.JETEmitters/
RemoteSystemsTempFiles/
Servers/
testResults/
npm-debug.log
notes.txt
activemq-data/
.DS_Store
out/
mdw/.idea/**/workspace.xml
