language: java
jdk:
  - oraclejdk8
before_script: cd mdw
before_install:
  - cd mdw
  - chmod +x ./mdw/gradlew
  - npm install grunt-cli -g
install: npm install
notifications:
  slack: mdwcore:9WSiZQJitrLtiiU5BO29Or4R
  email:
    recipients:
      - MdwCoreTeam@CenturyLink.com
    on_success: never # default: change
    on_failure: always # default: always
