language: java
before_install:
  - npm install -g bower
  - npm install -g grunt-cli
before_script: 
  - cd mdw-hub
  - npm install
  - bower install
  - cd ../mdw
script: ./gradlew test
after_failure:
  - cat mdw.log
  - cat ../testResults/com.centurylink.mdw.tests.services/admin-apis.log
notifications:
  slack:
    rooms:
      - mdwcore:9WSiZQJitrLtiiU5BO29Or4R#notices
    on_success: change # default: change
    on_failure: always # default: always
  email:
    recipients:
      - MdwCoreTeam@CenturyLink.com
    on_success: change # default: change
    on_failure: always # default: always
