language: java
branches:
  only:
  - master
env:
  - LD_LIBRARY_PATH=/home/travis/build/CenturyLinkCloud/mdw/mdw-workflow/assets/com/centurylink/mdw/node
before_install:
- java -version
- gradle -version
- npm install -g bower
- npm install -g grunt-cli
- openssl aes-256-cbc -K $encrypted_729e98813df3_key -iv $encrypted_729e98813df3_iv -in secring.gpg.enc -out secring.gpg -d
- openssl aes-256-cbc -K $encrypted_729e98813df3_key -iv $encrypted_729e98813df3_iv -in secret.properties.enc -out secret.properties -d
before_script:
- cd mdw-hub
- npm install
- bower install
- cd ../mdw
- cat ../secret.properties >> ~/.gradle/gradle.properties
script: gradle --no-daemon publishAll publishAssets -DPUBLISHING_TO_MAVEN_CENTRAL=true
after_failure:
- cat ../testResults/mdw-function-test-results.json
- sleep 10s
notifications:
  slack:
    rooms:
    - mdwcore:9WSiZQJitrLtiiU5BO29Or4R#notices
    on_success: change
    on_failure: always
  email:
    recipients:
    - MdwCoreTeam@CenturyLink.com
    on_success: change
    on_failure: always
