language: java
git:
  depth: 250
branches:
  only:
  - master
env:
- LD_LIBRARY_PATH=/home/travis/build/CenturyLinkCloud/mdw/mdw-workflow/assets/com/centurylink/mdw/node
before_install:
- java -version
- gradle -version
- openssl aes-256-cbc -K $encrypted_729e98813df3_key -iv $encrypted_729e98813df3_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
before_script:
- git update-index --assume-unchanged mdw/gradle.properties
- cat secret.properties >> mdw/gradle.properties
- cd mdw-hub
- npm install
- cd ../mdw
- export  mdwVersion=`cat gradle.properties  | grep mdwVersion | cut -d'=' -f2`
script: gradle --no-daemon publishAll publishAssets -DPUBLISHING_TO_MAVEN_CENTRAL=true
after_failure:
- cat ../testResults/mdw-function-test-results.json
- cat ../testResults/com.centurylink.mdw.tests.tasks/TaskIndexCustom.log
- cat ../testResults/com.centurylink.mdw.tests.tasks/TaskAutoassign.log
- cat ../testResults/com.centurylink.mdw.tests.tasks/Subtasks.log
# - cat ../testResults/com.centurylink.mdw.tests.cloud/ActivityImplementors.log
- cat mdw.log
- sleep 10s
notifications:
  slack:
    rooms:
      secure: cTOn+lrnYwMvP/NGHy8toMqo0rHnKPVHwFNib757prdgQmbQRuzLizQt05mp0aRumtQ+5DPcyIxBSv3laA09HM4bSuP+uQVtgHtZ5kYsSIyI/2Tig7+lbh1Ad43ly9SV+4jDdUosNakKPg8E/7c/oevnTA2Na1MRzUUaL9yUoJ9k7+uEemohQF5P6gIAhto4sgnXQZf7bRAVyZ1JFVM+HNnnXRC79E9f1qoB/NtV1BWZc+4EfF036T0MvVsQ5AU66PYo/33Jci/828KRTJ2UYr5l1XI+5gGDqoHxSUoFpeTYYmQuPJPep4tR20pfEVc3LCVfN6prCOtE8tzYqlsFDeG0e4vrjwofE2wICJ1qzX7eLhpJh5TIw3Ovey6zEeCODdTdg5Zg1rF9jxbhoCGi6mPQkWx6iRSv28N9JFK5ByQf8yZTFQG4LmbP4ofEGWrJGuCDqPQM/5PbK2fiOXqH9sPYjKX5lfaJAp6eE4Zh/+EZL/2nZYnN33YlFAMWNApqrsEbmj+FNitc7x5INbYhRTcNxDYTccS+ICiKO6E745XKmJ4VZhLuLrZpa6iHs4w1fyLIklEeYUqrIaah+EqlM/kbkNm3S/bqBJZVYYGYZBHSLk3tItyb8StxFxd1QJfkVmPbpqiyr9NBg2yd9FeRI3Hml9ESEedPw4gCDluGQdE=
    on_success: change
    on_failure: always
  email:
    recipients:
    - MdwCoreTeam@CenturyLink.com
    on_success: change
    on_failure: always
before_deploy:
  # TRAVIS_TAG is required for release name and tag
  - export TRAVIS_TAG=$mdwVersion
deploy:
  provider: releases
  api_key:
    secure: GEqYvjwbCQq+pElMBmnBnGNJRwEOlZ6QDrQbB6ZMaN8sPlaWHMg3M12CUB/IETBF3pozrv94eIHLmCnKx+QTv9DxSTscckhEM6i/fUUYSqR1ANP4PTu6q/QgTrQj2YqtJa6OKD/C9f3zoHPCNhQsNJ7LkKQLdS47zYnOKGT8XNPDi6JqitpEVPrfsG6VZqABEbQu9heqqOqk/61c6Q8xQkUsreUTwLdgp79hu4hDZLjmnEy3iklNCJiXBEyqRQTvPNzwDtetYuG0KapHPlj1sqV4OLY24I2twqRwzPH2X1/06Ud4hv0EbRAh8OlhnBzh5CGV4XupO9CuYz2yXCjCTCPz2tuAmfSGbQpr8n225rfj1IxU40ZS4qqwebp70D2zw2E4EvCJ4Tyu2BMXnOHZw/ppGwCZ+RdlHtFDDAU30ywgnQ4pvJvhIjbETTLIS69Qt0my3khwCtHXUG95YTbWkJho9UIP1cb5aQ1gTotFTN9mbtnuL0u49LiAYxs6fMWLvucRfsu1liJnONdeIrxyOMlmOFQz3hKy5xqbYED1xYesg97UeiKvLxVv+Y8CFwSBPiitGf5YsPeiJUyN4Hq2P4drFQ5UXfWtxfZoc7rO6Ic+b3dUfVHLblOeMnvUH1MIvjpCWzvsHC45KDouWHBfi8tRR5+9n3N1Quo3qQXyW9s=
  file:
  - "$TRAVIS_BUILD_DIR/mdw/deploy/app/mdw-cli-$mdwVersion.zip"
  - "$TRAVIS_BUILD_DIR/mdw/deploy/app/mdw-boot-$mdwVersion.jar"
  - "$TRAVIS_BUILD_DIR/mdw/deploy/app/mdw-$mdwVersion.war"
  overwrite: true
  skip_cleanup: true
after_deploy:
- git config --local user.name magrawa
- git config --local user.email manoj.a.agrawal@gmail.com
- cd ..
  # publish javadoc
- git add -A docs/_docs/javadoc
- git commit -a -m "Lastest javadoc on successful travis build $TRAVIS_BUILD_NUMBER auto-pushed [skip ci]"
- git push https://${GITHUB_TOKEN}@github.com/CenturyLinkCloud/mdw.git HEAD:master
