language: java
before_install:
  - chmod +x ./mdw/gradlew
  - npm install -g bower
  - npm install grunt-cli -g
  - npm --version
before_script: 
  - cd mdw-hub
  - npm install
  - bower install
  - cd ../mdw
script: ./gradlew buildAll
notifications:
  slack:
    rooms:
      - mdwcore:9WSiZQJitrLtiiU5BO29Or4R#notices
    on_success: change # default: change
    on_failure: always # default: always
  email:
    recipients:
      - MdwCoreTeam@CenturyLink.com
    on_success: change # default: change
    on_failure: always # default: always
