language: java
jdk:
  - oraclejdk8
before_script: 
  - cd mdw-hub
  - bower install
  - cd ../mdw
before_install:
  - chmod +x ./mdw/gradlew
  - if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi
  - npm install -g bower
  - npm install grunt-cli -g
  - npm --version
install: 
  - npm --prefix mdw-hub install mdw-hub
notifications:
  slack: mdwcore:9WSiZQJitrLtiiU5BO29Or4R
  email:
    recipients:
      - MdwCoreTeam@CenturyLink.com
    on_success: never # default: change
    on_failure: always # default: always
