language: java
env:
  - LD_LIBRARY_PATH=/home/travis/build/CenturyLinkCloud/mdw/mdw-workflow/assets/com/centurylink/mdw/node
before_install:
  - java -version
  - gradle -version
  - npm install -g bower
  - npm install -g grunt-cli
before_script: 
  - cd mdw-hub
  - npm install
  - bower install
  - cd ../mdw
script: gradle --no-daemon test
after_failure:
  - cat ../testResults/mdw-function-test-results.json
  - cat ../testResults/com.centurylink.mdw.tests.cloud/SimpleDynamicJava.log
  - cat ../testResults/com.centurylink.mdw.tests.cloud/SimpleDynamicJava.yaml
  - sleep 10s  # allow travis to unbuffer stdout
notifications:
  slack:
    rooms:
      - mdwcore:9WSiZQJitrLtiiU5BO29Or4R#notices
    on_success: change # default: change
    on_failure: always # default: always
  email:
    recipients:
      - MdwCoreTeam@CenturyLink.com
    on_success: change # default: change
    on_failure: always # default: always
