<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/system-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">Command Line</div>
      </div>
      <form name="cliCmdForm" class="form-horizontal mdw-section" ng-submit="runCli(cliCommand)" role="form">      
        <div class="form-group">
          <label class="control-label col-xs-1" for="cliCmd">Command:</label>
          <div class="col-xs-10">
            <input type="text" id="cliCmd" name="cliCmd" class="form-control" ng-model="cliCommand" placeholder="e.g. 'mdw status'">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <button type="submit" class="btn btn-primary mdw-btn" ng-if="authUser.hasRole('Site Admin')">
              <span class="glyphicon glyphicon-play"></span> Run&nbsp;&nbsp;
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <pre class="form-group" style="margin-left:0px;">{{commandInfo[0].sysInfos[0].value}}</pre>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>