<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/system-nav.html'"></div>
  <div class="col-md-10">
      <ul class="mdw-list">
        <li ng-repeat="sysInfoCategory in sysInfoCategories">
          <div class="mdw-sys-info" >
            <div ng-repeat="sysInfo in sysInfoCategory.sysInfos">
             <pre class="mdw-resource-content"><code class="mdw-code" ng-bind-html="sysInfo.name + ':' + sysInfo.value | highlight | unsafe"></code>
             </pre>
           </div>
          </div>
        </li>
      </ul>
  </div>
</div>