<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/admin-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">History</div>
      <div ng-controller="HistoryController">
          <label class="control-label">Count:</label>
          <input id="numberEdit" type="number" ng-model="historyLength" />
          <button id='updateRows' ng-click="reloadHistory()" class="btn btn-success">Update Row Count</button>
        <div id="historyGrid"  ui-grid="gridOptions" ui-grid-pagination ui.grid.resizeColumns ui.grid.moveColumns 
                               ui-grid-selection ui-grid-exporter class="grid"></div>
      </div>
    </div>
  </div>
</div>