.fp-container {
  display: flex;
  height: 100%;
}
.fp-left {
  display: flex;
  flex-direction: column;
  font-family: Myriad, Arial, Helvetica, clean, sans-serif;
  font-size: 13px;
  border-right: 3px ridge #e7e7e7;
  width: auto;
  white-space: nowrap;
  padding: 3px;
}
.fp-footer {
  border-top: 1px solid black;
}
.fp-info {
	font-size: 11px;
	white-space: pre;
	height: 45px;
	padding-top: 2px;
	padding-left: 4px;
}
.fp-grep {
  border-top: 1px solid gray;
  border-radius: 0 0 0 8px;
  padding: 3px;
  font-size: 12px;
  background-color: #eeeeee;
}
.fp-grep input {
	color: black;
	margin: 3px;
	width: calc(100% - 60px);
	border: 1px solid gray;
	border-radius: 3px;
	padding: 2px 3px;
	margin-right: 5px;
}
.fp-grep button {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px 5px;  
}
.fp-grep button:disabled {
	opacity: .65;
}
.fp-grep-results {
  height: 100%;
  font-family: monospace;
  font-size: 13px;
}
.fp-grep-linenum {
	font-weight: bold;
	color: #81c784;
}
.fp-grep-hit {
	font-weight: bold;
	background-color: #fff176;
}
.fp-right {
  display: flex;
  flex-direction: column;
  width: 100%
}
.fp-dirs {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.fp-item {
  width: auto;
  padding: 1px;
  margin-right: 2px;
  border: 1px solid transparent;
}
.fp-item:hover {
  cursor: pointer;
}
.fp-item:focus {
	outline: none;
}
.fp-selected {
	border: 1px solid black;
  background-color: #bbdefb;
}
.fp-item-icon {
	font-size: 12px;
	color: #90a4ae;
	padding-right: 6px;
}
.fp-item-file {
	margin-top: 2px;
}
.fp-view {
  height: 100%;
}
.fp-file {
  height: calc(100% - 50px);
  background-color: #e7e7e7;
  font-family: monospace;
  font-size: 13px;
}
.fp-scroll {
  white-space: pre;
}
.fp-dir {
  height: 100%;
  font-family: monospace;
  font-size: 13px;
}
.fp-line-numbers {
  color: #9E9E9E;
  background-color: #EEEEEE;
  float: left;
  text-align: right;
  border-right: 1px solid #bdbdbd;
  padding: 3px;
  margin-right: 3px;
}
.fp-content {
  padding: 3px;
  line-height: 1.3;
}
.fp-toolbar {
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #bdbdbd;
  padding: 10px;
}
.fp-options input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.fp-options input[type="number"] {
  margin-left: 5px; 
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 2px;  
}
.fp-options label {
  font-weight: normal;
}
.fp-toolbar button {
  padding: 2px 4px;
  color: #607d8b;
  font-weight: bold;	
}
.fp-toolbar button:disabled {
  cursor: default;
}
.fp-toolbar input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.fp-toolbar label {
	font-weight: normal;
	margin-left: 10px;
}
.fp-toolbar .fp-icon-btn {
	padding: 2px 6px;
  margin-left: 6px;
  color: #607d8b;
}
.fp-line-info {
  font-size: 11px;
  border-style: inset;
  border-width: thin;
  white-space: nowrap;
  background-color: #eeeeee;
  height: 16px;
}
.fp-search {
  margin-left: 20px;
  width: 350px;
}
.fp-search input {
  margin: 3px;
  width: 200px;
  height: 25px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 2px 3px;
  padding-bottom: 4px;
  margin-right: 0; 
}
.fp-search-msg {
	margin-left: 5px;
  color: #d0021b;
  font-size: 13px;
}
.fp-clear {
  position: relative;
  top: 1px;
  left: -20px;
  right: -20px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.fp-clear:hover {
  color: #d0021b;
}
.fp-mark {
  background-color: yellow;
}
.fp-current {
	background-color: #00ff00;
}