.fp-container {
  display: flex;
  height: 100%;
}
.fp-left {
  display: flex;
  flex-direction: column;
  font-family: Myriad, Arial, Helvetica, clean, sans-serif;
  font-size: 13px;
  border-right: 3px ridge #e7e7e7;
  width: auto;
  white-space: nowrap;
  padding: 3px;
}
.fp-footer {
  border-top: 1px solid black;
}
.fp-info {
	font-size: 11px;
	white-space: pre;
	height: 45px;
	padding-top: 2px;
	padding-left: 4px;
}
.fp-grep {
  border-top: 1px solid gray;
  border-radius: 0 0 0 8px;
  padding: 3px;
  font-size: 12px;
  background-color: #eeeeee;
}
.fp-grep input {
	margin: 3px;
	width: calc(100% - 60px);
}
.fp-right {
  display: flex;
  flex-direction: column;
  width: 100%
}
.fp-dirs {
  height: 100%;
}
.fp-item {
  width: auto;
  padding: 1px;
  border: 1px solid transparent;
}
.fp-item:hover {
  cursor: pointer;
}
.fp-item:focus {
	outline: none;
}
.fp-selected {
	border: 1px solid black;
  background-color: #bbdefb;
}
.fp-item-icon {
	font-size: 12px;
	color: #90a4ae;
	padding-right: 6px;
}
.fp-item-file {
	margin-top: 2px;
}
.fp-file {
  height: calc(100% - 50px);
  background-color: #e7e7e7;
  font-family: monospace;
  font-size: 13px;
}
.fp-file-view {
  height: 100%;
}
.fp-file-scroll {
  background-color: #e7e7e7;
  white-space: pre;
}
.fp-line-numbers {
  color: #9E9E9E;
  background-color: #EEEEEE;
  float: left;
  text-align: right;
  border-right: 1px solid #bdbdbd;
  padding: 3px;
  margin-right: 3px;
}
.fp-file-content {
  padding: 3px;
}
.fp-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #bdbdbd;
  padding: 5px 10px;
}
.fp-options input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.fp-options label {
  color: #607d8b;
}
.fp-toolbar button {
	padding: 4px 8px;
  color: #607d8b;
  font-weight: bold;	
}
.fp-toolbar .fp-icon-btn {
	padding: 2px 6px;
  margin-left: 6px;
  color: #607d8b;
}
.fp-line-info {
  font-size: 11px;
  border-style: inset;
  border-width: thin;
  white-space: nowrap;
  background-color: #eeeeee;
  height: 16px;
}
.fp-search {
  background-color: #eeeeee;
}