.fp-container {
  display: flex;
  height: 100%;
}
.fp-left {
  display: flex;
  flex-direction: column;
  font-family: Myriad, Arial, Helvetica, clean, sans-serif;
  font-size: 13px;
  border-right: 3px ridge #e7e7e7;
  width: auto;
  white-space: nowrap;
  padding: 3px;
}
.fp-footer {
  border-top: 1px solid black;
}
.fp-info {
	font-size: 11px;
	white-space: pre;
	height: 45px;
	padding-top: 2px;
	padding-left: 4px;
}
.fp-grep {
  border-top: 1px solid gray;
  border-radius: 0 0 0 8px;
  padding: 3px;
  font-size: 12px;
  background-color: #eeeeee;
}
.fp-grep input {
	margin: 3px;
	width: calc(100% - 60px);
}
.fp-right {
  display: flex;
  flex-direction: column;
  width: 100%
}
.fp-dirs {
  height: 100%;
}
.fp-item {
  width: auto;
  padding: 1px;
}
.fp-item:hover {
  cursor: pointer;
}
.fp-item:focus {
	outline: 1px solid black;
	background-color: #bbdefb;
}
.fp-item-icon {
	font-size: 12px;
	color: #90a4ae;
	padding-right: 6px;
}
.fp-item-file {
	margin-top: 2px;
}
.fp-file {
  height: 100%;
  background-color: #e7e7e7;
  padding: 3px;
}
.fp-file-view {
  background-color: #e7e7e7;
  white-space: pre;
  height: calc(100% - 10px);
}
