<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   <extension
         point="org.eclipse.ui.intro">

      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.epp.package.jee.product">
      </introProductBinding>
   </extension>



    
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="overviewExtension.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="tutorialsExtension.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="newsExtension.xml"/>
   </extension>
   
   
</plugin>
