<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/nav.html'"></div>
    <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-checklist">
          <input type="checkbox" ng-model="model.activityList.selectedState.all" ng-change="model.activityList.toggleAll()" ng-if="authUser.hasRole('Process Execution')"></input>
          Activities
          <span class="mdw-heading-sub">({{model.activityList.total}})</span>
        </div>
        
        <div class="mdw-heading-input">
          <div class="mdw-inner-addon mdw-right-addon">
            <input type="text" class="form-control mdw-inline" autofocus placeholder="search" spellcheck="false"
              ng-model="model.typeaheadMatchSelection" uib-typeahead="match as match.value for match in findTypeaheadMatches($viewValue)" 
              typeahead-editable="false" typeahead-on-select="typeaheadSelect()" ng-change="typeaheadChange()">
          </div>  
        </div>
        
        <!-- NOTE: wrap attribute must be adjusted if action buttons are added or removed -->
        <mdw-actions wrap="820">
          <!-- TODO: Actions is only when something selected (also, gravity not used) -->
          <button type="button" class="btn btn-primary mdw-btn" mdw-action-pop-button mdw-action-gravity="center"
            ng-if="authUser.hasRole('Process Execution')" uib-popover-template="'workflow/activityActions.html'"> 
            <span class="glyphicon glyphicon-ok"></span> Action
          </button>
          <button type="button" class="btn btn-primary mdw-btn" mdw-action-pop-button 
            uib-popover-template="'workflow/activityFilters.html'"> 
            <span class="glyphicon glyphicon-filter"></span> Filter
          </button>        
          <button type="button" class="btn btn-primary mdw-btn" mdw-action-pop-button 
            uib-popover-template="'workflow/activitySort.html'"> 
            <span class="glyphicon glyphicon-sort"></span> Sort
          </button>
          <button type="button" class="btn btn-primary mdw-btn" ng-click="model.activityList.downloadExcel()">
            <span class="glyphicon glyphicon-download-alt"></span> Export
          </button>
          <button type="button" class="btn btn-primary mdw-btn" ng-click="goChart()">
            <span class="glyphicon glyphicon-stats"></span> Chart
          </button>
        </mdw-actions>
     </div>
     <mdw-list class="mdw-checklist" mdw-list-service="/services/Activities" mdw-list-model="model.activityList" mdw-list-items="activityInstances"
        mdw-list-filter="model.activityFilter" mdw-list-item="workflow/activityItem.html">
     </mdw-list>
    </div>
  </div>
</div>