<div class="modal-header">
  <h3 class="modal-title">Confirm Action</h3>
</div>
<div class="modal-body" style="padding-top:5px">
  <div>
    {{getSelectedActivitiesMessage()}}
  </div>
  <div  ng-if="action == 'Proceed'" class="mdw-inner-addon mdw-right-addon" style="margin-top:7px;">
    <i class="glyphicon"></i>
    <input type="text" class="form-control mdw-inline" autofocus ng-model="model.completionCode"
     placeholder="Outcome">
   </div>
</div>
 
<div class="modal-footer">
  <button class="btn btn-success mdw-btn" type="button" ng-click="performActionOnActivities(action)">{{action}}</button>
  <button class="btn mdw-btn mdw-cancel-btn" type="button" ng-click="cancelAction()">Cancel</button>
</div>