<div class="mdw-flex-item">
  <div class="mdw-flex-item-left">
    <div>
      <input type="checkbox" ng-model="item.selected"  ng-if="!model.singleActivity" ng-change="listModel.notAllSelected()"></input>
      <div>
        {{item.packageName}}/
        <a class="mdw-item-link mdw-item-nowrap" href="#/workflow/masterRequests/{{item.masterRequestId}}">
          {{item.processName}} v{{item.processVersion}} &nbsp; {{item.name}}</a>
        <div class="mdw-item-sub">
          <span ng-if="!model.singleActivity" >Master Request : <a  href="#/workflow/processes/{{item.processInstanceId}}" class="mdw-link">{{item.masterRequestId}} </a>  &nbsp;&nbsp;Activity ID: <a  href="#/workflow/activities/{{item.id}}" class="mdw-link">{{item.id}} </a></span>
          <span ng-if="model.singleActivity" >Master Request : <a  href="#/workflow/processes/{{item.processInstanceId}}" class="mdw-link">{{item.masterRequestId}} </a>  &nbsp;&nbsp;Activity ID: {{item.id}}</span>
        </div>
        <div class="mdw-item-sub">Started: <span class="mdw-item-sub-value">{{item.startDate}}</span></div>
        <div class="mdw-item-sub" ng-if="item.endDate">Completed: <span class="mdw-item-sub-value">{{item.endDate}}</span></div>
        <div class="mdw-item-sub" ng-if="item.message || item.alert">
          <img class="mdw-item-alert" ng-if="item.alert" src="images/alert.png" alt="alert" />
          <a href="" uib-popover-template="'workflow/activityMessage.html'" popover-placement="bottom-left">
            <i class="mdw-item-highlight">{{item.message | lineLimit: 80}}</i>
          </a>
        </div>
       </div>
    </div>
  </div>
  <div class="mdw-flex-item-right">
    <div class="mdw-item">
      <span>{{item.status}}</span>
    </div>
  </div>
</div>