<!-- TODO: if sort gets more options, use a cleaner approach -->
<ul class="dropdown-menu mdw-popover-menu mdw-check-menu">
  <li ng-if="selectedChart=='List'">
    <div class="mdw-checked">
      <i class="glyphicon glyphicon-ok"></i>
      <a class="mdw-drop-selected" href="">List</a>
    </div>
  </li>
  <li ng-if="!(selectedChart=='List')">    
    <a href="" ng-click="setSelectedChart('List')">List</a>
  </li>
  <li ng-if="selectedChart=='line'">
    <div class="mdw-checked">
      <i class="glyphicon glyphicon-ok"></i>
      <a class="mdw-drop-selected" href="">Line Chart</a>
    </div>
  </li>
  <li ng-if="!(selectedChart== 'line')" >    
    <a href="" ng-click="setSelectedChart('line')">Line Chart</a>
  </li>
  <li ng-if="selectedChart=='pie'">
    <div class="mdw-checked">
      <i class="glyphicon glyphicon-ok"></i>
      <a class="mdw-drop-selected" href="">Pie Chart</a>
    </div>
  </li>
  <li ng-if="!(selectedChart=='pie')">    
    <a href="" ng-click="setSelectedChart('pie')">Pie Chart</a>
  </li>
</ul>
