<ul class="dropdown-menu mdw-popover-menu">
  <li ng-if="instanceEditAllowed() && (process.instanceId || !archived)">
    <a ng-href="#/edit/{{process.packageName}}/{{process.name}}.proc/{{process.id}}">
      Edit Instance
    </a>
  </li>
  <li ng-if="instanceEditAllowed() && (!process.instanceId && archived)" >
    <a ng-href="#/edit/{{process.packageName}}/{{process.name}}.proc/{{process.id}}/{{process.version}}">
      Edit Instance (from v{{process.version}})
    </a>
  </li>
  <li ng-if="instanceEditAllowed() && (!process.instanceId && archived)" >
    <a ng-href="#/edit/{{process.packageName}}/{{process.name}}.proc/{{process.id}}">
      Edit Instance (from latest)
    </a>
  </li>
  <li ng-if="definitionEditAllowed()" >
    <a href="" ng-click="stageAsset()">
      Stage Definition for Edit
    </a>
  </li>
</ul>
