<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-include="'layout/request-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          Request {{request.id}}
        </div>
      </div>
      <div class="mdw-section">
        <div class="mdw-item-sub" style="margin-bottom: 5px">
          <span ng-if="request.type != 'outboundRequests'">Received: {{request.created}}</span>
          <span ng-if="request.type == 'outboundRequests'">Sent: {{request.created}}</span>
          <span ng-if="request.responseId">Responded: {{request.responded}}</span>
        </div>
        <pre class="mdw-resource-content"><code class="mdw-code" ng-bind-html="request.content | highlight:request.format | unsafe"></code></pre>
      </div>
    </div>  
  </div>
</div>
