<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/process-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          History of
          <a href="#/packages/{{process.packageName}}" mdw-route="#/packages/{{process.packageName}}">{{process.packageName}}</a>
          /
          <a href="#/workflow/definitions/{{process.packageName}}/{{process.name}}">
            {{process.name}}
          </a>
        </div>
        <div style="float:right;margin-top:5px;">
          <label>Instances</label>
        </div>
      </div>
      <div>
        <ul class="mdw-list">
          <li ng-repeat="version in versions">
            <div class="mdw-flex-item">
              <div class="mdw-flex-item-left" style="width:200px;">
                <div>
                  <a href="#/workflow/definitions/{{version.path}}/{{version.version}}" style="font-weight:bold;font-size:15px;">
                    v{{version.version}}
                  </a>
                </div>
                <div ng-if="version.id" style="display:block;font-size:13px;">
                  {{version.id}}
                </div>
              </div>
              <div style="width:100%;">
                <div style="color:#505050;">
                  {{version.commitInfo.message}}
                </div>
                <a ng-if="version.commitInfo.url"
                   href="{{version.commitInfo.url}}">{{version.commitInfo.commit}}</a>
                <span ng-if="!version.commitInfo.url">
                  {{version.commitInfo.commit}}
                </span>
              </div>
              <div class="mdw-flex-item-right" style="color:#505050;display:flex;">
                <div style="width:300px;">
                  <div ng-if="version.commitInfo && version.commitInfo.date">
                    {{version.commitInfo.date.toLocaleString()}}
                  </div>
                  <div>
                    {{version.commitInfo.committer}}
                  </div>
                </div>
                <div style="min-width:100px;text-align:right;">
                  <div ng-if="version.count" style="font-weight:bold;">
                    {{version.count}}
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>