<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label" ng-if="create">New User</div>
        <div class="mdw-heading-label" ng-if="!create">Users <span class="mdw-heading-sub">({{total}})</span></div>
        <!-- ng-if breaks typeahead https://github.com/angular-ui/bootstrap/issues/2293 -->
        <div class="mdw-heading-input" ng-show="!create">
          <input type="text" class="form-control mdw-inline" autofocus placeholder=" find user" 
            ng-model="selected" uib-typeahead="user as user.name for user in find($viewValue)" 
            typeahead-editable="false" typeahead-on-select="select()" ng-change="change()">
        </div>
        <div class="mdw-heading-actions" ng-if="!create && authUser.hasRole('User Admin')">
          <button type="button" class="btn btn-primary mdw-btn" ng-click="setCreate(true)">
            <span class="glyphicon glyphicon-plus"></span> New
          </button>        
        </div>
      </div>
      <ul class="mdw-list" ng-if="!create" infinite-scroll="getNext()" infinite-scroll-distance="1"
        infinite-scroll-disabled="!hasMore()">
        <li ng-repeat="user in users">
          <div>
            <a class="mdw-item-link" href="#/users/{{user.cuid}}">{{user.name}}</a>
          </div>
          <div class="mdw-item-sub">{{user.cuid}}</div>
        </li>
      </ul>
      <div ng-if="create && (mdw.hubUser || mdwmdw.authMethod !== 'mdw')" ng-include="'users/userForm.html'">
      </div>
      <div ng-if="create && mdw.authMethod === 'mdw'" ng-include="'users/centralUserForm.html'">
      </div>
    </div>
  </div>
</div>