<div class="row" style="display:flex;">
  <div class="mdw-panel-full-width">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading" style="padding-top:6px;padding-bottom:5px;">
        <div class="mdw-heading-label" style="margin-top:0px;">
          <img class="mdw-heading-icon" src="images/mdw_48.png" alt="mdw" >
          <a ng-href="#/packages/{{packageName}}">{{packageName}}</a> / {{assetName}}
          <span ng-if="dirty"> *</span>
        </div>
        <div class="mdw-heading-actions" style="padding-top:8px;">
          <a class="btn btn-default" href="" 
            uib-popover-template="'edit/savePop.html'" popover-placement="left-top" pop-click>
            Save
          </a>            
          <a class="btn btn-default" ng-href="#/asset/{{asset.packageName}}/{{asset.name}}" >
            Cancel
          </a>            
        </div>
      </div>
      <div mdw-editor="aceOptions" ng-model="asset.content" class="mdw-editor"></div>
    </div>
  </div>
</div>