<?xml version="1.0" encoding="UTF-8"?>
<web-app
  version="2.5"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <display-name>MDW Web</display-name>
  
  <listener>
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
  </listener>
  
  <!-- JSF/Facelets Context Parameters -->
  <context-param>
    <param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
    <param-value>true</param-value>
  </context-param>  
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml,/WEB-INF/mdwtools-faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/mdw.taglib.xml;/WEB-INF/mdwtools.taglib.xml;/WEB-INF/dojo.taglib.xml;/WEB-INF/tomahawk.taglib.xml;/WEB-INF/osgi/rich.taglib.xml;/WEB-INF/osgi/ajax4jsf.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.COMPRESS_STATE_IN_CLIENT</param-name>
    <param-value>true</param-value>
  </context-param>  
  <context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING_METHOD</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING_DISPATCH_EVERY_TIME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
    <param-value>false</param-value>
  </context-param>
  <!-- RichFaces -->
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>#{mdw.skin}</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.CONTROL_SKINNING</param-name>
    <param-value>disable</param-value>
  </context-param>  
  <!-- JBoss AS -->
  <context-param>
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- Security Filter (ClearTrust and LDAP) -->
  <filter>
    <filter-name>AppSecSecurityFilter</filter-name>
    <filter-class>com.centurylink.mdw.web.servlet.filter.AccessControlFilter</filter-class>
    <init-param>
      <param-name>applicationName</param-name>
      <param-value>MDW</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>FINE</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <filter-class>com.centurylink.mdw.web.servlet.filter.CommonSecurityFilter</filter-class>
    <init-param>
      <param-name>CtAppConfigFile</param-name>
      <param-value>CTAPPFilter.config</param-value>
    </init-param>
    <init-param>
      <param-name>CtExcludeUrlsProperty</param-name>
      <param-value>MDWWeb.excludedURLs</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>  
  <filter>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  </filter>
  

  <!-- ClearTrust -->
  <filter-mapping>
    <filter-name>AppSecSecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>/MDWHTTPListener/task</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>/MDWHTTPListener/form</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>HTTPListenerServlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.HTTPListenerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RestfulServicesServlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.RestfulServicesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SoapServlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.SoapListenerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Resource Servlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.WebResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Download Servlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload Servlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JnlpServlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.JnlpLaunchServlet</servlet-class>
  </servlet>
  <servlet>
    <description/>
    <servlet-name>MDWDesignerImageServlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.MDWDesignerImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HTTPListenerServlet</servlet-name>
    <url-pattern>/MDWHTTPListener/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HTTPListenerServlet</servlet-name>
    <url-pattern>/listener/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>RestfulServicesServlet</servlet-name>
    <url-pattern>/Services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestfulServicesServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestfulServicesServlet</servlet-name>
    <url-pattern>/REST/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>SoapServlet</servlet-name>
    <url-pattern>/SOAP/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>SoapServlet</servlet-name>
    <url-pattern>/MDWWebService/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/filepanel/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/configManager/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Resource Servlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download Servlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload Servlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JnlpServlet</servlet-name>
    <url-pattern>/RCP</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>MDWDesignerImageServlet</servlet-name>
    <url-pattern>/servlet/imageServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>system/systemInformation.jsf</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>500</error-code>
    <location>/error.jsf</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Login Page</web-resource-name>
      <url-pattern>/authentication/ldapLogin.jsf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>  
</web-app>
