<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/asset-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          History of
          <a href="#/packages/{{packageName}}" mdw-route="#/packages/{{packageName}}">{{packageName}}</a>
          /
          <a href="#/asset/{{packageName}}/{{assetName}}">
            {{assetName}}
          </a>
        </div>
      </div>
      <div>
        <ul class="mdw-list">
          <li ng-repeat="version in versions">
            <div class="mdw-flex-item">
              <div class="mdw-flex-item-left" style="width:150px;">
                <div>
                  <a href="#/asset/{{packageName}}/{{assetName}}/{{version.version}}" style="font-weight:bold;font-size:15px;">
                    v{{version.version}}
                  </a>
                </div>
                <div ng-if="version.id" style="display:block;font-size:13px;">
                  {{version.id}}
                </div>
              </div>
              <div style="width:40px;">
                <a ng-if="isEditAllowed() && $index"
                  href="" ng-click="rollbackAsset(version.version)" title="Roll back to v{{version.version}}">
                  <span class="glyphicon glyphicon-backward mdw-action-icon button button-primary"
                    style="font-size:18px;"></span>
                </a>
              </div>
              <div style="width:100%;">
                <div style="color:#505050;">
                  {{version.commitInfo.message}}
                </div>
                <a ng-if="version.commitInfo.url"
                   href="{{version.commitInfo.url}}">{{version.commitInfo.commit}}</a>
                <span ng-if="!version.commitInfo.url">
                  {{version.commitInfo.commit}}
                </span>
              </div>
              <div class="mdw-flex-item-right" style="color:#505050;margin-right:50px;">
                <div ng-if="version.commitInfo">
                  <div ng-if="version.commitInfo.date">
                    {{version.commitInfo.date.toLocaleString()}}
                  </div>
                  <div>
                    {{version.commitInfo.committer}}
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>