<div class="mdw-workflow">
  <div>
    <canvas class="mdw-canvas"></canvas> 
  </div>
  <div class="mdw-inspector" mdw-inspector style="display:none">
    <div class="panel panel-default mdw-inspector-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          Inspector
        </div>
        <div class="mdw-heading-actions">
          <a class="btn" ng-click="closeInspector()">
            <span class="glyphicon glyphicon-remove"></span>
          </a>            
        </div>
      </div>
      <div class="mdw-inspector-content">
        <ul class="nav mdw-inspector-tabs">
          <li ng-repeat="(name, tab) in tabs" ng-class="{'mdw-inspector-tab-active': tab === activeTab}">
            <a href="" ng-click="setActiveTab(name)">{{name}}</a>
          </li>
        </ul>
        <div class="mdw-inspector-values">
          <div ng-repeat="(name, value) in activeTabValues" style="display:flex">
            <div class="mdw-inspector-label">{{name}}:</div>
            <div class="mdw-inspector-value">{{value}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  