<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="application-name" content="mdw-hub" data-version="${mdw.version} ${mdw.build}" />
  <title>MDWHub</title>
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css">
  <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css">
  <link rel="stylesheet" href="css/mdw.css">
  <link rel="stylesheet" href="css/mdw-hub.css">
  <link rel="stylesheet" href="css/mdw-admin.css">
  <link rel="icon" type="image/png" href="images/mdw.ico" />
 
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="bower_components/highlightjs/highlight.pack.js"></script>
  <script src="bower_components/iframe-resizer/js/iframeResizer.js"></script>
  <script src="bower_components/jsdiff/diff.js"></script>
  <script src="bower_components/Chart.js/dist/Chart.js"></script>
  <script src="lib/angular-chart.js"></script>
  <script src="lib/ng-infinite-scroll-1.2.0.js"></script>
  <script src="lib/marked-0.3.5.js"></script>
  <script src="js/mdw.js"></script>
  <script src="js/util.js"></script>
  <script src="js/constants.js"></script>
  <script src="js/admin.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/authUser.js"></script>
  <script src="js/users.js"></script>
  <script src="js/groups.js"></script>
  <script src="js/roles.js"></script>
  <script src="js/assets.js"></script>
  <script src="js/tests.js"></script>
  <script src="js/history.js"></script>
  <script src="js/tasks/tasks.js"></script>
  <script src="js/tasks/task.js"></script>
  <script src="js/workflow/processes.js"></script>
  <script src="js/workflow/activities.js"></script>
  <script src="js/workflow/solutions.js"></script>
  <script src="js/services.js"></script>
  <script src="js/requests.js"></script>
  <script src="js/system.js"></script>
  <script src="js/ui/chart.js"></script>
  <script src="js/ui/actions.js"></script>
  <script src="js/ui/list.js"></script>
  <script src="js/ui/panel.js"></script>
  <script src="js/ui/workflow.js"></script>
  <script src="js/ui/step.js"></script>
  <script src="js/ui/link.js"></script>
  <script src="js/ui/subflow.js"></script>
  <script src="js/ui/note.js"></script>
  <script src="js/ui/inspector.js"></script>
  <script src="js/ui/inspector-tabs.js"></script>
  <script src="js/ui/drawing-constants.js"></script>
  <script src="js/dashboard/processes.js"></script>
  <script src="js/dashboard/requests.js"></script>
  <script src="js/dashboard/activities.js"></script>
  <script src="js/dashboard/tasks.js"></script>
</head>
<body class="mdw-body" ng-controller="AdminController" pop-container>
  <script>
    var $mdwHubRoot = '${mdw.hubRoot}';
    var $mdwServicesRoot = '${mdw.servicesRoot}';
    var $mdwWebToolsRoot = '${mdw.webToolsRoot}';
    var $mdwVersion = '${mdw.version}';
    var $mdwBuild = '${mdw.build}';
    var $mdwHubUser = '${mdw.hubUser}';
    var $mdwAuthMethod = '${mdw.authMethod}';
    var $mdwAutoTestWebSocketUrl = '${mdw.autoTestWebSocketUrl}';
  </script>
  <div class="mdw-normalize" ng-if="!isMobile" ng-include="'layout/header.html'"></div>
  <div class="mdw-normalize" ng-if="!isMobile" ng-include="'layout/tabs.html'"></div>
  <div ng-class="{content: true, container: true, 'mdw-content': !isMobile, 'mdw-mobile-content': isMobile, 'mdw-full-width': isFullWidth}" ng-view></div>
  <div ng-if="!isMobile" ng-include="'layout/footer.html'"></div>
</body>
</html>
