<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.centurylink.mdw.plugin.launch.Process">
<stringAttribute key="externalEventRequest" value=""/>
<booleanAttribute key="launchViaExternalEvent" value="false"/>
<intAttribute key="logWatcherPort" value="7181"/>
<stringAttribute key="masterRequestId" value="aa56486~160617-144847"/>
<booleanAttribute key="nofifyProcess" value="false"/>
<stringAttribute key="notifyProcessEvent" value=""/>
<stringAttribute key="notifyProcessRequest" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mdw-workflow"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ALLOW_TERMINATE" value="false"/>
<mapAttribute key="org.eclipse.jdt.launching.CONNECT_MAP">
<mapEntry key="hostname" value="localhost"/>
<mapEntry key="port" value="8000"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mdw-workflow"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_CONNECTOR_ID" value="org.eclipse.jdt.launching.socketAttachConnector"/>
<stringAttribute key="owner" value="Designer"/>
<stringAttribute key="ownerId" value="1466196527127"/>
<booleanAttribute key="processInstanceLiveView" value="false"/>
<stringAttribute key="processName" value="GPON ServiceOrder Processor"/>
<stringAttribute key="processVersion" value="0.14"/>
<stringAttribute key="responseVarName" value=""/>
<booleanAttribute key="showLogsInConsole" value="false"/>
<booleanAttribute key="synchronous" value="false"/>
<mapAttribute key="variableValues">
<mapEntry key="designAssignFailureGroup" value="Structure Loader"/>
<mapEntry key="designAssignFailureReason" value="No Split Report"/>
<mapEntry key="designAssignFailureUser" value="Amanda Wilson"/>
<mapEntry key="designAssignTestStatus" value="Complete"/>
<mapEntry key="dispatchTicketId" value="675483"/>
<mapEntry key="dispatchableItems" value="[ONT Install, Fiber drop, Jumper connection]"/>
<mapEntry key="download_speed_mbps" value="1,000"/>
<mapEntry key="hsiServiceId" value="HSI-1729775654"/>
<mapEntry key="ontProfileId" value="487"/>
<mapEntry key="ponCircuitId" value="PON-35645454"/>
<mapEntry key="radiusClassOfService" value="NICGPON01"/>
<mapEntry key="status" value="TECH_ENROUTE"/>
<mapEntry key="totalDispatchableItems" value="3"/>
<mapEntry key="upload_speed_mbps" value="10"/>
</mapAttribute>
<stringAttribute key="workflowProject" value="mdw-workflow"/>
</launchConfiguration>
