<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.centurylink.mdw.plugin.launch.Process">
<stringAttribute key="externalEventRequest" value=""/>
<booleanAttribute key="launchViaExternalEvent" value="false"/>
<intAttribute key="logWatcherPort" value="7181"/>
<stringAttribute key="masterRequestId" value="aa56486~160502-145520"/>
<booleanAttribute key="nofifyProcess" value="false"/>
<stringAttribute key="notifyProcessEvent" value=""/>
<stringAttribute key="notifyProcessRequest" value=""/>
<stringAttribute key="owner" value="Designer"/>
<stringAttribute key="ownerId" value="1462222520021"/>
<booleanAttribute key="processInstanceLiveView" value="false"/>
<stringAttribute key="processName" value="MDWTestTaskAndEvent"/>
<stringAttribute key="processVersion" value="0.3"/>
<stringAttribute key="responseVarName" value=""/>
<booleanAttribute key="showLogsInConsole" value="false"/>
<booleanAttribute key="synchronous" value="false"/>
<mapAttribute key="variableValues"/>
<stringAttribute key="workflowProject" value="mdw-workflow"/>
</launchConfiguration>
