/* normalize removes bootstrap styles for seamless UI with MDWHub */
.mdw-normalize {
  line-height: normal;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}
.mdw-normalize *,
.mdw-normalize *:before,
.mdw-normalize *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.mdw-normalize img {
  vertical-align: initial;
  vertical-align: auto; /* ie */
  border: initial;
}
.mdw-body {
  margin-top: 3px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.3;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.mdw-content {
  width: 100%;
  border: 1px solid #006500;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px 4px #888888;
  min-height: 600px;
  min-width: 460px; /* different from mdw-hub for mobile friendliness */
  padding: 20px;
}
.mdw-mobile-content {
  padding-top: 15px;
  min-width: 460px;
}
.mdw-tabs-space {
  width: 100%;
  min-width: 720px;
}
.mdw-sidebar {
  float: left;
}
@media (max-width: 992px) {
  .mdw-sidebar {
    width: 100%;
  }
}
.mdw-nav-heading {
  color: #0d47a1;
}
.mdw-nav {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.mdw-nav a {
  color: #424246;
}
.mdw-nav li {
  border: 1px solid transparent;
  border-radius: 4px;
}
.mdw-nav > li > a:hover, .mdw-nav > li > a:focus {
  color: #212121;
  background-color: #e6e9eb;
  border-radius: 4px;
}
.mdw-nav-header {
  padding: 10px 15px;
}
.mdw-active {
  /*font-weight: bold;*/
  background-color: #b0bec5;
}
.mdw-active a {
  color: black;
}
.mdw-active a:hover, .mdw-active a:focus {
  color: black !important;
  background-color: #b0bec5 !important;
}
.mdw-label {
  display: block;
  color: #808080;
  margin-bottom: 0;
}
.mdw-heading {
  font-weight: bold;
  background-color: #eceff1 !important;
}
.mdw-heading:after {
  display: table;
  clear: both;
  content: "";
}
.mdw-sub {
  margin: 5px;
}
.mdw-sub-heading {
  padding: 5px 15px;
  font-weight: bold;
  background-color: #eceff1 !important;
}
.mdw-sub-heading:after {
  display: table;
  clear: both;
  content: "";
}
.mdw-last-item {
  border-bottom: none !important;
  padding-bottom: 5px !important;
}
.mdw-heading-label {
  float: left;
  margin-top: 5px;
}
.mdw-heading-checklist {
  float: left;
  padding-top: 6px;
}
.mdw-heading-checklist > input[type="checkbox"] {
  margin-left: -5px;
  margin-right: 10px;
}
.mdw-checklist-label {
  vertical-align: top;
}
.mdw-checklist-sub {
  font-size: 13px;
  font-weight: normal;
  color: #767676;
  vertical-align: top;
  position: relative;
  top: 2px;
}
.mdw-checklist-sub > a {
  vertical-align: top;
}
.mdw-heading-sub {
  font-size: 13px;
  font-weight: normal;
  color: #767676;
}
.mdw-heading-input {
  float: left;
  display: flex;
  margin-left: 20px;
}
.mdw-heading-input input {
  padding: 5px;
  height: 28px;
  font-weight: normal;
}
.mdw-inner-addon { 
  position: relative;
}
.mdw-inner-addon .glyphicon {
  position: absolute;
  padding: 7px;
  pointer-events: none;
  color: #9e9e9e;
}
.mdw-left-addon .glyphicon { 
  left: 0px;
}
.mdw-right-addon .glyphicon {
  right: 0px;
}
.mdw-left-addon input {
  color: black;
  padding-left: 25px;
}
.mdw-right-addon input {
  color: black;
  padding-right: 25px; 
}
.mdw-check-menu a {
  margin-left: 15px;
}
.mdw-checked {
  position: relative;
}
.mdw-checked .glyphicon {
  position: absolute;
  pointer-events: none;
  top: 5px;
}
.mdw-heading-filters > .popover {
  top: 10px!important;
}
.mdw-heading-filters > .popover > .arrow {
  top: 15px;
}
.mdw-heading-actions {
  float: right;
}
.mdw-heading-actions > a {
  font-size: 13px;
  padding: 4px 6px;
}
.mdw-heading-actions .mdw-panel-collapse {
	padding: 0 0 0 6px;
	margin-left: 5px;
	border-left: 1px solid gray;
	font-size: 14px;
}
.mdw-heading-actions-wrap {
  float: right;
}
.mdw-heading-options {
  float: left;
  margin: 0 20px 0 20px;  
}
.mdw-heading-options > label {
  min-height: 18px;
  padding-top: 5px;
  margin-left: 20px;
}
.mdw-heading-options > label > input[type="radio"] {
  margin-top: 3px;
  margin-left: -16px;
}
.mdw-panel {
  clear: both;
  border-bottom: none;
}
.mdw-list {
  padding: 0;
  list-style: none;
}
.mdw-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.mdw-checklist {
  padding: 0;
  list-style: none;
}
.mdw-checklist li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.mdw-checklist input[type="checkbox"] {
  transformx: scale(1.2);
  margin-right: 8px;
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.mdw-resource-heading {
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px; 
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  padding-top: 8px; 
  min-height: 32px;
  background-color: #eeeeee;
}
.mdw-resource-list {
  padding: 0;
  padding-top: 10px;
  margin-bottom: 0;
  list-style: none;
}
.mdw-resource-list li {
  padding: 10px;
}
.mdw-heading-summary {
  float: left;
  padding-left: 25px;
  padding-top: 5px;
}
.mdw-heading-summary span {
  padding-left: 15px;
}
.mdw-item {
  font-size: 14px;
  font-weight: bold;
}
.mdw-item-link {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: #23527c;
}
.mdw-item-nowrap {
  white-space: nowrap;
}
.mdw-flex-item {
  display: flex;
}
.mdw-flex-item-left {
  float: left;
  width: 100%;  
}
.mdw-flex-item-left > div {
  display: inline-flex;
}
.mdw-flex-item-right {
  float: right;
  white-space: nowrap;
  margin-right: 10px;
}
.mdw-item-alert {
  position: relative;
  top: -2px;
}
.mdw-item-highlight {
  font-weight: bold;
}
.mdw-link {
  font-weight: bold;
  color: #23527c;
}
.mdw-warn {
  color: #a94442;
}
.mdw-warn:hover {
  color: #a94442;
}
.mdw-ghost {
  color: #90a4ae;
}
.mdw-ghost:hover {
	color: #90a4ae;
}
.mdw-okay {
  color: #2e7d32;
}
.mdw-okay:hover {
  color: #2e7d32;
}
.mdw-item-icon {
  margin-right: 10px;
}
.mdw-item-sub {
  margin-top: 1px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  color: #767676;
}
.mdw-item-sub div.popover {
	max-width: 100%;
}
.mdw-item-sub div.popover-content {
  max-width: 100%;
}
.mdw-item-sub-value {
  font-weight: bold;
}
.mdw-item-content {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.mdw-inner-content {
  padding: 15px 10px 0 10px;
}
.mdw-inner-content:after {
  display: table;
  clear: both;
  content: "";
}
.mdw-inner-panel {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.mdw-inner-heading-actions {
  float: right;
}
.mdw-inner-heading-actions a {
  font-size: 11px;
  padding: 1px 5px;
}
.mdw-item-content > h1, h2, h3 {
  margin-top: 5px;
}
.mdw-item-action {
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}
.mdw-item-action a {
  color: #767676;
}
.mdw-item-action a:hover {
  color: #23527c;
  cursor: pointer;
}
.mdw-item-action a:visited {
  text-decoration: none;
}
.mdw-resource-content {
  background-color: #f3f3f3;
  padding: 5px;
  word-wrap: normal;
  border-top-left-radius: 0;   
  border-bottom-left-radius: 0;   
}
.mdw-code {
  white-space: pre;
}
.mdw-line-nums {
  background-color: #eeeeee;
  float: left;
  text-align: right;
  padding: 5px;
  border-right: none;
  border-top-right-radius: 0;   
  border-bottom-right-radius: 0; 
}
.mdw-buttons {
  float: right;
}
.mdw-checkbox input[type="checkbox"] {
  margin-top: 3px;
}
.mdw-section {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.mdw-section select {
  width: auto;
}
.mdw-tabbed-section {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.mdw-form-footer {
  padding-left: 10px;
}
.mdw-form-footer:after {
  display: table;
  clear: both;
  content: "";
}
.mdw-btn {
  padding: 4px 8px;
}
.mdw-cancel-btn:hover {
  color: red;
}
.mdw-advanced-btn {
  margin-right: 50px;
}
.mdw-required:after {
  content: " *";
  color: #f44336;
  vertical-align: top;
  font-size: 18px;
}
.mdw-message {
  float: left;
  color: #a94442;
  padding-top: 7px;
  font-weight: bold;  
}
.mdw-messages {
  float: left;
  color: #a94442;
  padding-top: 25px;
  padding-left: 25px;
  font-weight: bold;  
}
.mdw-test-message {
  color: #a94442;
  font-weight: bold;
  margin: 15px 0 0 15px;
}
.mdw-form-message {
  margin-top: 8px;
}
.mdw-static-group {
  margin-bottom: 2px;
}
.mdw-static {
  font-size: 15px;
  padding-top: 6px;
}
.mdw-dropdown-menu {
  z-index: 2000;
}
.mdw-dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #bbdefb;
  border-radius: 3px;
}
.mdw-dropfilter {
  background-color:#fff!important;  
  cursor: pointer;
}
.mdw-med-indent {
  margin-left: 15px;
}
.mdw-sm-indent {
  margin-left: 10px;
}
.mdw-vmed-indent {
  margin-top: 15px;
}
.mdw-vsm-indent {
  margin-top: 10px;
}
.mdw-med-width {
  width: 140px;
}
.mdw-med-width2 {
  width: 160px;
}
.mdw-med-width3 {
  width: 145px;
}
.mdw-lg-width {
  width: 350px;
}
.mdw-btn-top {
  margin-top: 2px;
}
.mdw-float-left {
  float: left;
}
.mdw-float-right {
  float: right;
}
.mdw-hscroll {
  overflow-x: auto;
}
.mdw-drop-selected {
  font-weight: bold!important;
}
.mdw-popover-menu {
  display: block;
  position: relative;
  box-shadow: none;
  border: none;  
  padding: 1px 3px 1px 3px;
  margin: 0;
}
.mdw-popover-menu > li a {
  outline: none;
  padding: 3px 10px;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.mdw-popover-menu > li a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #bbdefb;
  border-radius: 3px;
}
.mdw-bordered-menu {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}
.mdw-split-left {
  padding-left: 0;
}
.mdw-split-right {
  padding-left: 0;
  padding-right: 0;
}
.mdw-diff {
  font-weight: bolder;
}
.mdw-diff-delta {
  background-color: #ffcdd2;
}
.mdw-diff-ignored {
  color: #9e9e9e;
}
.mdw-item-heading {
  font-weight: bold;
  padding: 10px 10px 0 10px;  
}
.mdw-test-status {
  top: 3px;
  margin-right: 3px;
  font-size: 18px;
}
.mdw-action-icon {
  vertical-align: top;
  padding-left: 3px;
  padding-top: 1px;
}
.mdw-accordion-heading {
  font-size: 13px;
  color: #23527c;
}
.mdw-accordion-panel {
  margin: 15px;
  border: 1px solid #b0bec5;
}
.mdw-daysHours {
  width: 50px;
}
.mdw-frame {
  width: 100%;
  overflow: hidden;
  border: none;
}

.panel-heading a {
  font-weight: bold;
  text-decoration: none;
}
.panel-heading a:hover {
  text-decoration: underline;
}
.panel-heading a:focus {
  outline: none;
}
.nav-tabs {
  padding: 0 10px;
}
.popover-content {
  max-height: 600px;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.popover {
   max-width: 600px;
}
/* popover arrow positioning fixes for bootstrap */
.popover.left-top {
  margin-left: -10px;
  margin-top: -25px;
}
.popover.left-top > .arrow {
  top: 40px;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left-top > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.popover.right-top {
  margin-left: 10px;
  margin-top: -65px;
}
.popover.right-top > .arrow {
  top: 80px;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right-top > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom-left {
  margin-top: 10px;
}
.popover.bottom-left > .arrow {
	top: -11px;
	left: 20px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom-left > .arrow:after {
	top: 1px;
	left: -10px;
	content: " ";
	border-top-width: 0;
	border-bottom-color: #fff;
}
.panel-heading {
  background-color: #f3f3f3;
}
@media (max-width: 992px) {
  .col-md-10 {
    position: static;
    float: left;
    width: 100%;
  }
}
@-ms-viewport {
  width: auto!important;
}
.grid {
  width: 100%;
  height: 880px;
}

/* chart styles */
.mdw-chart-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  padding-left: 0;	
}
.mdw-chart-legend li {
  display: flex;
  margin-left: 80px;
}
.mdw-chart-legend-icon {
  display: block;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 1px;
}
.mdw-chart-legend-text {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4px;
  padding: 2px 8px;
  font-size: smaller;
  font-weight: bold;
  cursor: default;
}
/*
.line-legend li {
  display: flex;
  margin-left: 80px;
}
.line-legend-text {
  font-weight: bold;
}
*/