/**
 * MDWHub stylesheet elements for custom look and feel 
 */
.mdw_detailTableSubtitle {
  color: #424246;
  background: linear-gradient(to bottom, #f0f0f0, #cecece);  
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 3px 0 2px 5px;
  text-align: left;
}

.mdw_panel {
	margin-top: 3px;
	margin-bottom: 3px;
}
.mdw_panelHeader {
  height: 22px;
  line-height: 22px;
  padding-left: 3px;
  color: #004722;
  font-family: Arial,Verdana,sans-serif;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  background: linear-gradient(to bottom, #fefefe, #d5d8da);
  border: 1px solid #006500;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow-y: hidden;
}
.mdw_panelHeaderCollapsedHorizontal {
  position: relative;
  height: auto;
  line-height: inherit;  
  background: linear-gradient(to left, #fefefe, #d5d8da);
  border: none;	
  overflow: inherit;
}
.mdw_panelBody {
  border-left: 1px solid #006500;
  border-right: 1px solid #006500;
  border-bottom: 1px solid #006500;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;  
  overflow: hidden;
  transition: height 0.3s ease, width 0.5s ease;
}
.mdw_panelBodyCollapsed {
  height: 0px;
  border-bottom: 0;
}
.mdw_panelBodyCollapsedHorizontal {
  width: 0px;
  border: none;
}
.mdw_panelLabel {
  float: left;
}
.mdw_panelLabelCollapsedHorizontal {
  position: absolute;
  right: 100%;
  height: 20px;
  background: linear-gradient(to top, #fefefe, #d5d8da);
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: right top;
  -ms-transform: rotate(270deg);
  -ms-transform-origin: right top;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: right top;
  transform: rotate(270deg);
  transform-origin: right top;
  white-space: nowrap;
  border: 1px solid #006500;
  border-right: none;
  padding-left: 5px;
  padding-top: 2px;
  float: none;
}
.mdw_panelImage {
  padding: 1px 2px 2px 0px;
  float: right;
}
.mdw_panelImageCollapsedHorizontal {
  position: relative;
  left: -3px;
  padding: 1px 1px 2px 1px;
  border: 1px solid #006500;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  float: none;
}
.mdw_panelImage img {
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.mdw_panelImage img:hover {
  border: 1px solid black;
  box-shadow: 2px 2px 2px #888888;
}

.mdw_hubNavLinks {
  padding-left: 1px;
  margin-top: -2px;
}
.mdw_hubNavMenu_item_group {
  width: 100%;
  font-size: 12px;
  color: #053368;
  border-collapse: collapse;
  border-bottom: 1px solid #006500;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
}
.mdw_hubNavMenu_item_group td {
  padding: 0;
}
.mdw_hubNavLabel {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #006500;
  padding-bottom: 5px;
  text-align: left;	
}
.mdw_hubNavLink {
  height: 25px;
  line-height: 25px;
  padding: 2px 2px;
  border-bottom: 1px solid #ffffff;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  background: linear-gradient(to bottom, #fefefe, #d5d8da);
  border-bottom-width: 1px;  
}
.mdw_hubNavLink a {
  color: black;
  padding-left: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;  
}
.mdw_hubNavLink a:hover {
  border-bottom: 1px solid black;
}
.mdw_hubNavActiveLink {
  height: 25px;
  line-height: 25px;
  padding: 2px 2px;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  background: linear-gradient(to bottom, #fefefe, #d5d8da); 
}
.mdw_hubNavActiveLink a {
  color: #006500;
  padding-left: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;  
  text-decoration: none;
}
.mdw_hubNavActiveLink a:hover {
  border-bottom: 1px solid black;
}
.mdw_hubActiveNavImage {
  position: relative;
  left: 3px;
  top: 4px;
}
.mdw_hubNavImageBorder {
  border-right: 1px solid #006500;
}
.mdw_columnFilter {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: relative;
  top: -4px;
}
/* webkit needs this */
.mdw_columnFilter input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.mdw_columnDateFilter {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
/* webkit needs this */
.mdw_columnDateFilter input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.mdw_columnFilterSelect {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 2px;
}
.mdw_filterMsg {
  color: red;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 2px;
  background-color: #e0e0e0;
}
.mdw_filterImg {
  padding: 2px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid transparent;
}
.mdw_filterApply {
  padding: 1px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: white;
  border: 1px solid transparent;
}
.mdw_groupHeader {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  height: 20px;
  vertical-align: middle;
  text-align: left;
  padding-left: 5px;
  padding-top: 0px;
  border-bottom: 2px solid #808080;
}
.mdw_groupLink, a.mdw_groupLink, a.mdw_groupLink:visited {
  color: #094D9C;
  font-weight: bold;
  text-decoration: none;
}
a.mdw_groupLink:hover {
  text-decoration: underline;
}
.mdw_expandCollapseGroup {
  cursor: pointer;
  padding-left: 5px;
}
.mdw_inputLabel {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-align: right;
}
.mdw_formHeader {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.mdw_input {
	border-radius: 4px;
	border: 1px solid #cccccc;
	font-size: 14px;
	padding: 4px;
}
.mdw_input:focus {
  outline: none !important;
  border: 1px solid #719ece;
  box-shadow: 0 0 5px #719ece;
}
.mdw_button {
	width: 100%;
	padding: 4px;
	margin-top: 5px;
	color: #fff;
	background-color: #5cb85c;
  border: 1px solid #255625;
  border-radius: 4px;
  font-size: 14px;
}
.mdw_button:focus {
  outline: none !important;
	background-color: #449d44;
}
.mdw_button:hover {
	background-color: #449d44;
}
.mdw_hubPanel {
  border: 1px solid #006500;
  padding: 20px;
  margin: auto;
  border-radius: 4px;
}
.mdw_hubMessage {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: red;
}