{{>licenseInfo}}
package {{package}};

{{#imports}}
import {{import}};
{{/imports}}

{{#operations}}
@Path("{{baseName}}")
@Api("{{classname}}")
public class {{classname}} extends JsonRestService {
  {{#operation}}

  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  {{#squashApiPaths}}{{^path.empty}}@Path("{{{path}}}"){{/path.empty}}{{/squashApiPaths}}
  @ApiOperation(value="{{summary}}"{{#notes}},
      notes="{{notes}}"{{/notes}}{{#returnType}},
      response={{returnBaseType}}.class{{#returnContainer}}, responseContainer="{{returnContainer}}"{{/returnContainer}}{{/returnType}})
  {{#implicitParams}}{{#hasParams}}  @ApiImplicitParams({
  {{#allParams}}
      @ApiImplicitParam(name="{{{paramName}}}", paramType="{{example}}", dataType="{{{dataType}}}"{{#description}}, value="{{description}}"{{/description}}{{#required}}{{^squashApiPaths}}, required=true{{/squashApiPaths}}{{/required}}{{#required}}{{#squashApiPaths}}{{^isPathParam}}, required=true{{/isPathParam}}{{/squashApiPaths}}{{/required}}{{#defaultValue}}, defaultValue="{{defaultValue}}"{{/defaultValue}}),
  {{/allParams}}
  }){{/hasParams}}{{/implicitParams}}
  public JSONObject {{operationId}}(String path, {{#isRestfulCreate}}JSONObject content, {{/isRestfulCreate}}{{#isRestfulUpdate}}JSONObject content, {{/isRestfulUpdate}}Map<String,String> headers) throws ServiceException {
  
    {{#validateRequest}}
    try {
      SwaggerModelValidator validator = new SwaggerModelValidator(headers.get("HttpMethod"), path);
      validator.validate(path, getQuery(path, headers), {{#isRestfulCreate}}content{{/isRestfulCreate}}{{#isRestfulUpdate}}content{{/isRestfulUpdate}}{{^isRestfulCreate}}{{^isRestfulUpdate}}null{{/isRestfulUpdate}}{{/isRestfulCreate}}, headers);
    }
    catch (ValidationException ex) {
      throw new ServiceException(ex.getCode(), ex.getMessage());
    }
      
    {{/validateRequest}}
    {{#bodyParam}}
    {{bodyParam.dataType}} {{bodyParam.paramName}} = new {{bodyParam.dataType}}(content);
    {{/bodyParam}}
    {{#isRestfulCreate}}
    return {{bodyParam.paramName}}.getJson();
    {{/isRestfulCreate}}
    {{^isRestfulCreate}}
    {{#isListContainer}}
    JsonList<{{returnBaseType}}> jsonList = new JsonList<>(new ArrayList<{{returnBaseType}}>(), "{{baseName}}");
    return jsonList.toJson();
    {{/isListContainer}}
    {{#isMapContainer}}
    return new JSONObject();
    {{/isMapContainer}}
    {{^returnContainer}}
    {{#returnBaseType}}
    return new {{returnBaseType}}().getJson();
    {{/returnBaseType}}
    {{^returnBaseType}}
    return new JSONObject();
    {{/returnBaseType}}
    {{/returnContainer}}
    {{/isRestfulCreate}}
  }
  {{/operation}}
}
{{/operations}}
