<form name="groupForm" class="form-horizontal mdw-section" ng-submit="save()" role="form">
  <div class="form-group" ng-class="{'has-error': workgroup.name === undefined}">
    <label class="control-label col-xs-2 mdw-required" for="groupName">Name:</label>
    <div class="col-xs-10">
      <input type="text" id="groupName" name="name" class="form-control" required focus-me ng-model="workgroup.name"
        ng-blur="workgroup.name === '' ? undefined : workgroup.name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2" for="groupDescrip">Description:</label>
    <div class="col-xs-10">
      <textarea id="groupDescrip" class="form-control" rows="4" maxlength="1000" ng-model="workgroup.description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-2" for="parent">Parent:</label>
    <div class="col-xs-10">
      <select id="parent" class="form-control" ng-model="workgroup.parent">
        <option ng-repeat="workgroup in getGroupList().workgroups" value="{{workgroup.name}}">{{workgroup.name}}</option>      
      </select>
    </div>
  </div>
  <div class="mdw-form-footer">
    <div class="col-xs-2"></div>
    <div class="mdw-message">{{workgroup.message}}</div>
    <div class="mdw-buttons">
      <button class="btn btn-success mdw-btn" type="submit" ng-disabled="!isSaveEnabled()">Save</button>
      <button class="btn mdw-btn mdw-cancel-btn" type="reset" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
