<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading mdw-heading">Import from Git</div>
      <form name="importForm" class="form-horizontal mdw-section" role="form">
        <div class="form-group mdw-static-group">
          <label class="control-label col-xs-2">Server Instance:</label>
          <div class="col-xs-10">
            <p class="form-control-static mdw-static">{{pkgList.serverInstance}}</p>
          </div>
        </div>      
        <div class="form-group mdw-static-group">
          <label class="control-label col-xs-2">Asset Root:</label>
          <div class="col-xs-10">
            <p class="form-control-static mdw-static">{{pkgList.assetRoot}}</p>
          </div>
        </div>      
        <div class="form-group mdw-static-group">
          <label class="control-label col-xs-2">Repository URL:</label>
          <div class="col-xs-10">
            <p class="form-control-static mdw-static"><a href="{{pkgList.vcsRemoteUrl}}">{{pkgList.vcsRemoteUrl}}</a></p>
          </div>
        </div>      
        <div class="form-group mdw-static-group">
          <label class="control-label col-xs-2">Branch:</label>
          <div class="col-xs-2">
            <p class="form-control-static mdw-static">{{pkgList.vcsBranch}}</p>
          </div>
        </div>
<!--          <div class="checkbox mdw-checkbox">
          <div class="col-xs-2"></div>
          <label><input type="checkbox" ng-model="distributedImport">Distributed import (all server instances)</label>
        </div>
        <div class="checkbox mdw-checkbox">
          <div class="col-xs-2"></div>
          <label><input type="checkbox" ng-model="cacheRefresh">Refresh server caches after update</label>
        </div>   
        <div class="checkbox mdw-checkbox">
          <div class="col-xs-2"></div>
          <label><input type="checkbox" ng-model="deleteTempBackups">Delete temporary asset backups</label>
        </div> -->
        <div class="checkbox mdw-checkbox">
          <div class="col-xs-2"></div>
          <label><input type="checkbox" ng-model="gitHardReset">Perform a Git Hard Reset (Overwrites ALL local Git changes)</label>
        </div>
        <div class="mdw-form-footer">
          <div class="mdw-message mdw-form-message">{{gitImportMessage}}</div>
          <div class="mdw-buttons">
            <button class="btn btn-success mdw-btn" type="submit" ng-disabled="!authUser.hasRole('Process Design') || !pkgList.assetRoot" ng-click="gitImport()">
              <span class="glyphicon glyphicon-download-alt" style="transform:rotate(180deg)"></span> Import
            </button>
            <button class="btn mdw-btn mdw-cancel-btn" type="button" ng-click="cancel()">Cancel</button>
          </div>
        </div>              
      </form>
    </div>
  </div>
</div>