<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isFullView()" ng-include="'layout/admin-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          <span class="glyphicon glyphicon-folder-open mdw-item-icon"></span>
          {{pkg.name ? pkg.name + ' v' + pkg.version : ''}}
          <span class="mdw-diff" ng-if="pkg.vcsDiff == 'DIFFERENT'">*</span>
          <span class="mdw-diff" ng-if="pkg.vcsDiff == 'EXTRA'"><sup>+</sup></span>
          <span class="mdw-diff" ng-if="pkg.vcsDiff == 'MISSING'"><sup>-</sup></span>
        </div>
        <div class="mdw-heading-actions" ng-if="pkg.id">
          <button type="button" class="btn btn-primary mdw-btn" ng-if="authUser.hasRole('Process Design')" 
              uib-popover-template="'assets/newAsset.html'" popover-placement="left-top" pop-click>
            <span class="glyphicon glyphicon-plus"></span> New
          </button>
          <button type="button" class="btn btn-primary mdw-btn" ng-if="authUser.hasRole('Site Admin')" ng-click="deletePackage()">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </div>
      <ul class="mdw-list mdw-package-list">
        <li>
          <div>
            <a class="mdw-item-link" href="#/packages">
              <span class="glyphicon glyphicon-arrow-up mdw-item-icon"></span>..
            </a>
          </div>
        </li>
        <li ng-repeat="asset in pkg.assets">
          <div>
            <a class="mdw-item-link" href="#/asset/{{pkg.name}}/{{asset.name}}"
              ng-class="{'mdw-warn': asset.vcsDiff == 'DIFFERENT', 'mdw-ghost': asset.vcsDiff == 'MISSING', 'mdw-okay': asset.vcsDiff == 'EXTRA'}">
              <span class="glyphicon glyphicon-file mdw-item-icon"></span>{{asset.name}} v{{asset.version}}</a>
            <span class="mdw-diff mdw-warn" ng-if="asset.vcsDiff == 'DIFFERENT'">*</span>
            <span class="mdw-diff mdw-okay" ng-if="asset.vcsDiff == 'EXTRA'"><sup>+</sup></span>
            <span class="mdw-diff mdw-ghost" ng-if="asset.vcsDiff == 'MISSING'"><sup>-</sup></span>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="pkg.readmeAsset" class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading"><span class="glyphicon glyphicon-file mdw-item-icon"></span>
        {{pkg.readmeAsset.name}}
      </div>
      <div class="mdw-item-content" ng-bind-html="pkg.readmeAsset.content | markdown | unsafe"></div>
    </div>
  </div>
</div>