<?xml version="1.0" encoding="UTF-8"?>
<web-app
  version="2.5"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>MDW Task Manager</display-name>
  <listener>
    <listener-class>com.centurylink.mdw.listeners.startup.StartupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
  </listener>
    
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
    <param-value>true</param-value>
  </context-param>  
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/mdw-tm.taglib.xml;/WEB-INF/tomahawk.taglib.xml;/WEB-INF/osgi/mdw.taglib.xml;/WEB-INF/osgi/rich.taglib.xml;/WEB-INF/osgi/ajax4jsf.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>  
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.COMPRESS_STATE_IN_CLIENT</param-name>
    <param-value>true</param-value>
  </context-param>  
  <context-param>
    <param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
    <param-value>false</param-value>
  </context-param>
  <!-- RichFaces -->
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>#{mdw.skin}</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.CONTROL_SKINNING</param-name>
    <param-value>disable</param-value>
  </context-param>
  <context-param>
    <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.LoadStyleStrategy</param-name>
    <param-value>all</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.LoadScriptStrategy</param-name>
    <param-value>all</param-value>
  </context-param>
  <!-- JBoss AS -->
  <context-param>
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    <param-value>true</param-value>
  </context-param>

  <filter>
    <filter-name>AppSecSecurityFilter</filter-name>
    <filter-class>com.centurylink.mdw.web.servlet.filter.AccessControlFilter</filter-class>
    <init-param>
      <param-name>applicationName</param-name>
      <param-value>MDWTaskManagerWeb</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>FINE</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <filter-class>com.centurylink.mdw.web.servlet.filter.CommonSecurityFilter</filter-class>
    <init-param>
      <param-name>CtAppConfigFile</param-name>
      <param-value>CTAPPFilter.config</param-value>
    </init-param>
    <init-param>
      <param-name>CtExcludeUrlsProperty</param-name>
      <param-value>MDWTaskManagerWeb.excludedURLs</param-value>
    </init-param>
  </filter>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
    <init-param>
      <param-name>forceparser</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>enable-cache</param-name>
      <param-value>true</param-value>
    </init-param>    
  </filter>
  <filter>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>AppSecSecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
     <filter-name>MDWCommonSecurityFilter</filter-name>
     <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>/MDWHTTPListener/task</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>/MDWHTTPListener/form</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>/tasks</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MDWCommonSecurityFilter</filter-name>
    <url-pattern>/tools</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFacesExtensionsFilter</filter-name>
    <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HTTPListenerServlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.HTTPListenerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Web Resource Servlet</servlet-name>
    <servlet-class>com.centurylink.mdw.web.servlet.WebResourceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Attachment Download Servlet</servlet-name>
    <servlet-class>com.centurylink.mdw.taskmgr.servlet.AttachmentDownload</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HTTPListenerServlet</servlet-name>
     <url-pattern>/MDWHTTPListener/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Web Resource Servlet</servlet-name>
    <url-pattern>/resource.xhtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Web Resource Servlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Attachment Download Servlet</servlet-name>
    <url-pattern>/servlet/AttachmentDownloadServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>facelets/tasks/myTasks.jsf</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <error-code>500</error-code>
    <location>/facelets/error.jsf</location>
  </error-page>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Login Page</web-resource-name>
      <url-pattern>/facelets/authentication/ldapLogin.jsf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>  
 
</web-app>
