<form name="createTaskForm" class="form-horizontal mdw-section" ng-submit="save()" role="form">
  <div class="form-group" ng-class="{'has-error': !model.newTaskTemplate}">
    <label class="control-label col-xs-2 mdw-required" for="taskTemplate">Template:</label>
    <div class="mdw-float-left mdw-lg-width">
      <div class="mdw-inner-addon mdw-right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control mdw-inline" focus-me placeholder="search" spellcheck="false"
          ng-model="model.newTaskTemplate" uib-typeahead="match as match.value for match in findTaskTemplate($viewValue)" 
          typeahead-editable="false">
      </div>
    </div>
    <div class="mdw-buttons mdw-btn-top mdw-sm-indent mdw-float-left">
      <button class="btn btn-success mdw-btn" type="submit" ng-disabled="!model.newTaskTemplate">Create</button>
      <button class="btn mdw-btn mdw-cancel-btn" type="reset" ng-click="setCreate(false)">Cancel</button>
    </div>
  </div>
</form>
