<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-include="'layout/task-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div
        class="panel-heading mdw-heading"
        ng-if="!edit &&  !add">
        <div class="mdw-heading-label" ng-if="!create">Notes for {{task.name}} &nbsp;{{task.id}}</div>
        <div class="mdw-heading-actions">
          <div ng-if="confirm">
            <div>{{note.message}}</div>
            <div>
              <button
                class="btn btn-danger mdw-btn"
                type="button"
                ng-click="deleteNote()">Delete</button>
              <button
                class="btn mdw-btn mdw-cancel-btn"
                type="button"
                ng-click="cancel()">Cancel</button>
            </div>
          </div>
  
          <button
            type="button"
            class="btn btn-primary mdw-btn"
            ng-if="!edit && !confirmm && !add"
            ng-click="setAdd(true)">
            <span class="glyphicon glyphicon-plus"></span> Add
          </button>
          <!--  button
            type="button"
            class="btn btn-danger mdw-btn"
            ng-if="!add && !confirm"
            ng-click="setConfirm(true)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button-->
        </div>
      </div>
      <!-- Remove Grid for the moment to use the rollover stuff Don mentioned -->
      <!--div
        ui-grid="gridOptions"
        ui-grid-selection
        class="mdw-notes-grid"></div-->
      <ul
        class="mdw-list"
        ng-if="!edit && !confirmm && !add">
        <li
          ng-repeat="note in notes.task_instanceNotes"
          ng-class="{'mdw-active':hovering}"
          ng-mouseenter="hovering=true"
          ng-mouseleave="hovering=false">
          <table colspan="2" style="width:100%">
            <tr>
              <td>
                <div>{{note.name}}</div>
                <div class="mdw-item-sub">Modified by {{note.user}}</div>
                <div class="mdw-item-sub">Modified date {{note.date | date:'MMM dd yyyy
                  HH:MM a'}}</div>
              </td>
              <td class="mdw-heading-actions">
                <div
                  ng-if="hovering">
                  <button
                    type="button"
                    class="btn btn-primary mdw-btn"
                    ng-if="!add && !isConfirm(note)"
                    ng-click="setEdit(note, true)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                  </button>
  
                  <button
                    type="button"
                    class="btn btn-danger mdw-btn"
                    ng-if="!add && !isConfirm(note)"
                    ng-click="setConfirm(note, true)">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                  </button>
                <div ng-if="note.confirm">
                  <div>{{note.message}}</div>
                  <div>
                    <button
                      class="btn btn-danger mdw-btn"
                      type="button"
                      ng-click="deleteNote(note)">Delete</button>
                    <button
                      class="btn mdw-btn mdw-cancel-btn"
                      type="button"
                      ng-click="cancel(note)">Cancel</button>
                  </div>
                </div>
  
                </div>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
    <div
      ng-if="add || edit"
      ng-include="'tasks/noteForm.html'"></div>
  </div>
</div>