<div class="panel-heading mdw-heading">
  <div
    class="mdw-heading-label"
    ng-if="add">Add Note</div>
  <div
    class="mdw-heading-label"
    ng-if="edit">Edit Note {{note.name}}</div>
</div>
<form
  name="taskNotesForm"
  class="form-horizontal mdw-section"
  role="form">
  <div class="form-group">
    <label
      class="control-label col-xs-2"
      for="noteSummary">Summary:</label>
    <div class="col-xs-6">
      <input
        type="text"
        id="noteSummary"
        name="noteSummary"
        class="form-control"
        ng-model="note.name"
        size="90"
        maxlength="256"
        focus-me="add"
        ng-readonly="!add">
    </div>
  </div>
  <div class="form-group">
    <label
      class="control-label col-xs-2"
      for="noteDetail">Detail:</label>
    <div class="col-xs-8">
      <textarea
        id="noteDetail"
        name="noteDetail"
        class="form-control"
        ng-model="note.details"
        rows="10"
        cols="110"></textarea>
    </div>
  </div>
  <div class="mdw-form-footer">
    <div class="col-xs-2"></div>
    <div class="mdw-buttons">
      <button
        class="btn mdw-btn mdw-cancel-btn"
        type="button"
        ng-click="cancel()">Cancel</button>
      <button
        ng-if="!add"
        class="btn btn-success mdw-btn"
        type="submit"
        ng-click="update()"
        ng-disabled="add">Save Note</button>
      <button
        ng-if="add"
        class="btn btn-success mdw-btn"
        type="submit"
        ng-click="save()"
        ng-disabled="!isSaveEnabled()">Add Note</button>
    </div>
  </div>
</form>


