  <div class="panel panel-default mdw-panel">
    <div class="panel-heading mdw-heading">
      <div class="mdw-heading-label">
        Task Data
      </div>
      <div class="mdw-heading-actions">
        <mdw-panel-collapse mdw-collapsed="isDataCollapsed"></mdw-panel-collapse>
      </div>
    </div>
    <div uib-collapse="isDataCollapsed">
    
    <form
      name="taskForm"
      class="form-horizontal mdw-section"
      ng-submit="save()"
      role="form">
      <div
        class="form-group"
        ng-class="{'has-error': task.id === undefined}">
        <label
          class="control-label col-xs-2"
          for="acknowledged">Acknowledged:</label>
        <div class="col-xs-2">
          <input
            type="text"
            id="acknowledged"
            name="acknowledged"
            class="form-control"
            ng-model="task.acknowledged"
            maxlength="30"
             ng-readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label
          class="control-label col-xs-2"
          for="customerid">Customer ID:</label>
        <div class="col-xs-2">
          <input
            type="text"
            id="customerid"
            name="customerid"
            class="form-control"
            ng-model="task.customerId"
            maxlength="30">
        </div>
      </div>
      <div class="form-group">
        <label
          class="control-label col-xs-2"
          for="customername">Customer Name:</label>
        <div class="col-xs-2">
          <input
            type="text"
            id="customername"
            name="customername"
            class="form-control"
            ng-model="task.customerName"
            maxlength="30">
        </div>
      </div>
      <div class="form-group">
        <label
          class="control-label col-xs-2"
          for="customerlookupresponse">Customer Name:</label>
        <div class="col-xs-2">
          <input
            type="text"
            id="customerlookupresponse"
            name="customerlookupresponse"
            class="form-control"
            ng-model="task.customerLookupResponse"
            maxlength="30">
        </div>
      </div>
      <div class="form-group">
        <label
          class="control-label col-xs-2"
          for="ordernumber">Order Number:</label>
        <div class="col-xs-2">
          <input
            type="text"
            id="ordernumber"
            name="ordernumber"
            class="form-control"
            ng-model="task.id"
            maxlength="30">
        </div>
      </div>

    </form>
  </div>
  </div>

