<ul id="process-nav" class="nav mdw-nav" ng-style="getNavMenuWidthStyle(165)">
  <li nav-link="workflow/process">
    <a href="#/workflow/processes/{{process.id}}">
      Workflow Image
    </a>
  </li>
  <li nav-link="workflow/definition" full-width="process-nav">
    <a href="#/workflow/definition/{{process.packageName}}/{{process.processName}}/v{{process.processVersion}}">
      Process Definition
    </a>
  </li>
  <li nav-link="blv/blv-business/blv">
    <a href="#/blv-business/business/{{process.masterRequestId}}">
      Business Live View
    </a>
  </li>
  <li nav-link="workflow/definition/raw">
    <a href="#/workflow/raw/{{process.packageName}}/{{process.processName}}/v{{process.processVersion}}">
      Raw Definition
    </a>
  </li>
</ul>
<ul class="nav mdw-nav">
  <li nav-link="workflow/processes">
    <a href="#/workflow/processes">
      Process List
    </a>
  </li>  
</ul>
