<ul class="nav mdw-nav">
  <li nav-link="requests/request">
    <a ng-if="request.masterRequestId" href="#/workflow/masterRequests/{{request.masterRequestId}}">Request</a>
    <a ng-if="!request.masterRequestId" href="#/workflow/requests/{{request.id}}">Request</a>
  </li>
  <li nav-link="requests/response" ng-if="request.responseId">
    <a ng-if="request.masterRequestId" href="#/workflow/masterResponses/{{request.masterRequestId}}">Response</a>
    <a ng-if="!request.masterRequestId" href="#/workflow/responses/{{request.id}}">Response</a>
  </li>
</ul>
<ul class="nav mdw-nav">
  <li nav-link="workflow/requests">
    <a href="#/workflow/requests">
      Request List
    </a>
  </li>  
</ul>
