<ul class="nav mdw-nav">
  <li nav-link="tasks/task"><a href="#/tasks/{{task.id}}">Task Data</a></li>
  <li nav-link="tasks/subtasks"><a href="#/tasks/{{task.id}}/subtasks">Subtasks</a></li>
  <li nav-link="tasks/notes"><a href="#/tasks/{{task.id}}/notes">Task Notes</a></li>
  <li nav-link="tasks/attachments"><a href="#/tasks/{{task.id}}/attachments">Task Attachments</a></li>
  <li nav-link="tasks/history"><a href="#/tasks/{{task.id}}/history">Task History</a></li>
  <li nav-link="tasks/history"><a href="#/tasks">Task List</a></li>
</ul>
