<ul class="nav mdw-nav">
  <li nav-link="tasks/task"><a href="#/tasks/{{task.id}}">Task Summary</a></li>
  <li nav-link="tasks/taskData"><a href="#/tasks/{{task.id}}/data">Task Data</a></li>
  <li nav-link="tasks/subtasks"><a href="#/tasks/{{task.id}}/subtasks">Subtasks</a></li>
  <li nav-link="tasks/notes"><a href="#/tasks/{{task.id}}/notes">Notes</a></li>
  <li nav-link="tasks/attachments"><a href="#/tasks/{{task.id}}/attachments">Attachments</a></li>
  <li nav-link="tasks/history"><a href="#/tasks/{{task.id}}/history">History</a></li>
  <li nav-link="tasks/tasks"><a href="#/tasks">Task List</a></li>
</ul>
