<ul class="nav mdw-nav">
  <li nav-link="workflow/processes"><a href="#/workflow/processes">Processes</a></li>
  <li nav-link="workflow/requests"><a href="#/workflow/requests">Requests</a></li>
  <li nav-link="workflow/activities"><a href="#/workflow/activities">Activities</a></li>
</ul>
<ul class="nav mdw-nav">
  <li nav-link="solutions/*"><a href="#/solutions">Solutions</a></li>
</ul>
<ul class="nav mdw-nav">
  <li nav-link="todo/*"><a href="#/todo">Process Definitions</a></li>
</ul>