<div class="mdw-workflow">
  <div>
    <canvas class="mdw-canvas"></canvas> 
  </div>
  <div class="mdw-toolbox" mdw-toolbox ng-if="editable" style="bottom:10px;">
    <div class="panel-heading mdw-heading">
      <div class="mdw-heading-label">Toolbox</div>
      <div class="mdw-help-icon">
        <a href="{{toolbox.helpUrl}}" title="Toolbox Help" target="_blank">
          <span class="glyphicon glyphicon-question-sign mdw-icon-btn"></span>
        </a>
      </div>
      <div class="mdw-heading-actions">
        <a class="btn" ng-if="toolbox.isOpen()" ng-click="closeToolbox()">
          <span class="glyphicon glyphicon-minus"></span>
        </a> 
        <a class="btn" ng-if="toolbox && !toolbox.isOpen()" ng-click="openToolbox()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>
    <ul>
      <li id="{{impl.implementorClass}}" ng-repeat="impl in toolbox.getImplementors()" 
        title="{{impl.implementorClass}}" tabIndex="{{1000+$index}}">
        <div class="mdw-toolbox-icon">
          <img ng-src="{{impl.iconUrl}}" draggable="false"></img>
        </div>
        <div class="mdw-toolbox-label">{{impl.label}}</div>
      </li>
    </ul>
  </div>
  <div ng-class="{'mdw-inspector':true,'mdw-configurator':editable}" mdw-inspector style="display:none;">
    <div class="panel panel-default mdw-inspector-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          {{editable ? 'Configurator' : 'Inspector'}}{{workflowObject.name || workflowType == 'transition' ? ': ' : ''}}
          <span class="mdw-heading-sub">{{workflowType == 'transition' ? 'Transition' : workflowObject.name.removeCrs().replaceAll('\n', ' ')}}</span>
        </div>
        <div class="mdw-help-icon">
          <a href="{{configurator.helpLink.url}}" ng-if="configurator.helpLink" title="{{configurator.helpLink.name}}" target="_blank">
            <span class="glyphicon glyphicon-question-sign mdw-icon-btn"></span>
          </a>
        </div>
        <div class="mdw-heading-actions">
          <a class="btn mdw-inspector-btn" ng-click="initInspector()">
            <span class="glyphicon glyphicon-minus"></span>
          </a> 
          <a class="btn mdw-inspector-btn" ng-click="maxInspector()">
            <span class="glyphicon glyphicon-unchecked"></span>
          </a> 
          <a class="btn mdw-inspector-btn" ng-click="closeInspector()">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </div>
      <div class="mdw-inspector-content">
        <ul class="nav mdw-inspector-tabs">
          <li ng-repeat="(name, tab) in tabs" ng-class="{'mdw-inspector-tab-active': tab === activeTab}">
            <a href="" ng-click="setActiveTab(name)">{{name}}</a>
          </li>
        </ul>
        <!-- tab values for object -->
        <div class="mdw-inspector-values" ng-if="!activeTabValues[0].values && !drilledValue && (!activeTab._template || (!editing && activeTabName == 'Documentation'))">
          <div class="mdw-markdown-content" ng-if="activeTabValues[0].isMarkdown" ng-bind-html="activeTabValues[0].value | markdown | unsafe">
          </div>
          <div ng-repeat="tabValue in activeTabValues" ng-if="!drilledValue && !activeTabValues[0].isMarkdown" style="display:flex">
            <div class="mdw-inspector-label" ng-if="tabValue.name && tabValue.extended">
              <a href="" ng-click="drillIn(tabValue)">{{tabValue.name}}</a>:
            </div>
            <div class="mdw-inspector-label" ng-if="tabValue.name && !tabValue.extended">
              {{tabValue.name}}:
            </div>
            <div class="mdw-inspector-value" ng-if="tabValue.asset.path && tabValue.asset.url">
              <a href="{{tabValue.asset.url}}">{{tabValue.asset.path}}</a> {{tabValue.asset.version}}
            </div>
            <div class="mdw-inspector-value" ng-if="tabValue.url">
              <a href="{{tabValue.url}}">{{tabValue.value}}</a>
            </div>
            <div class="mdw-inspector-value" ng-if="tabValue.name && !tabValue.url && (!tabValue.asset.path || !tabValue.asset.url)">
              {{tabValue.value}}
            </div>
          </div>
        </div>
        <!-- tab values for array of object -->
        <div class="mdw-inspector-values" ng-if="activeTabValues[0].values && !drilledValue && !activeTab._template">
          <div ng-repeat="tabValue in activeTabValues" ng-if="!drilledValue">
            <div class="mdw-inspector-value" ng-if="tabValue.names && $index == 0">
              <span class="mdw-pre" ng-repeat="name in tabValue.names"><span class="mdw-ul">{{name.name}}</span>{{name.pad}}</span>
            </div>
            <div class="mdw-inspector-value" ng-if="tabValue.values">
              <span class="mdw-pre" ng-repeat="value in tabValue.values"><a href="" mdw-route="{{value.url}}" ng-if="value.url">{{value.value}}</a><a href="" ng-if="value.extended" ng-click="drillIn(value)">{{value.value}}</a><span ng-if="!value.url && !value.extended">{{value.value}}</span>{{value.pad}}</span>
            </div>
          </div>
          <div class="mdw-resource-content" ng-if="drilledValue">
            <pre><code class="mdw-code" 
              ng-bind-html="drilledValue.value | highlight:drilledValue.language | unsafe"></code></pre>
          </div>
        </div>
        <!-- drilled-in value -->
        <div class="mdw-inspector-values" ng-if="drilledValue">
          <div class="mdw-resource-content">
            <pre><code class="mdw-code" 
              ng-bind-html="drilledValue.full | highlight:drilledValue.language | unsafe"></code></pre>
          </div>
        </div>
        <!-- design section -->
        <div class="mdw-inspector-values" ng-if="!editing && !drilledValue && activeTab._template && (editable || activeTabName != 'Documentation')">
          <div ng-repeat="widget in configurator.getWidgets()" 
            ng-if="widget.type != 'table' && widget.type != 'mapping' && widget.type != 'editor'" 
            class="mdw-widget" style="height:{{widget.height}}px;">
            <div class="mdw-widget-label">
              {{widget.label}}<span class="mdw-pre">{{widget.pad}}</span>
            </div>
            <div class="mdw-widget-value" ng-include="'ui/widgets/' + widget.type + '.html'">
            </div>
          </div>
          <div ng-repeat="tblWidget in configurator.getWidgets()" 
            ng-if="tblWidget.type == 'table' || tblWidget.type == 'mapping'" class="mdw-widget">
            <div class="mdw-widget-value" ng-include="'ui/widgets/' + tblWidget.type + '.html'">
            </div>
          </div>
        </div>
        <div class="mdw-inspector-values" ng-if="editing && activeTab._template">
          <div mdw-editor="editOptions" ng-model="editing.value" class="mdw-widget-edit"></div>
        </div>
      </div>
    </div>
  </div>
</div>  