<br />
<div
  ng-controller="PageletsController"
  style="width: auto; height: auto">
  <div class="panel-heading mdw-heading">
    <div
      ng-if="blvViewType=='workflow'"
      class="mdw-heading-label">{{pagelet.title}} attributes - {{pagelet.pkg}}
      v{{pagelet.pkgversion}} Scope : {{pagelet.content.PAGELET._APPLIES_TO}}</div>
    <div class="mdw-heading-actions">
      <button
        type="button"
        class="btn btn-primary mdw-btn"
        uib-popover="View Asset"
        popover-trigger="mouseenter"
        ng-click="viewAsset()">View Asset</button>
      <!--  button
        class="btn btn-success mdw-btn"
        type="button"
        uib-popover="Save all Attributes"
        popover-trigger="mouseenter"
        ng-click="saveAll()">
        Save All Attributes <span class="glyphicon glyphicon-save"></span>
      </button-->
    </div>
  </div>
  <form
    class="form-horizontal"
    role="form">
    <div ng-repeat="widget in gridOptions.data">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{widget.label}}</label>
        <div ng-if='widget.widgetType == "BOOLEAN"' class="col-sm-4">
          <input
            class="form-control"
            id="{{widget.label}}"
            placeholder="{{widget.label}}"
            type="checkbox"
            ng-model="widget.value">
        </div>
        <div ng-if='widget.widgetType == "TEXT"' class="col-sm-4">
          <input
            class="form-control"
            id="{{widget.label}}"
            placeholder="{{widget.label}}"
            ng-model="widget.value">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          type="submit"
          class="btn btn-success"
          uib-popover="Save"
          popover-trigger="mouseenter"
          ng-click="save()">Save</button>
      </div>
    </div>
  </form>
  <!-- div
    ui-grid="gridOptions"
    ui-grid-edit
    ui-grid-cellnav
    ui-grid-auto-resize
    style="height: {{gridHeight}}"></div>
</div-->