<div ng-controller="artisController">
    <h4 class="popover-title">
      <b><i>Artis attributes</i></b>
    </h4>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="useArtis" class="col-sm-2 control-label">Use Artis:</label>
        <div class="col-sm-4">
          <input class="form-control" id="useArtis" placeholder="UseArtis" type="checkbox" ng-model="useArtis">
        </div>
      </div>
      <div class="form-group">
        <label for="serviceName" class="col-sm-2 control-label">Service Name:</label>
        <div class="col-sm-4">
          <input class="form-control" id="serviceName" placeholder="ServiceName"  ng-model="serviceName">
        </div>
      </div>
      <div class="form-group">
        <label for="functionLabel" class="col-sm-2 control-label">Function Label:</label>
        <div class="col-sm-4">
          <input class="form-control" id="functionLabel" placeholder="FunctionLabel" ng-model="functionLabel">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" uib-popover="Save all Artis attributes"
              popover-trigger="mouseenter"
          ng-click="saveArtis()">Save</button>
        </div>
      </div>
    </form>
</div>
