<!doctype html>
<html>
<head>
</head>
<body>
<div>
  <div class="modal-header">
    <h4 class="popover-title">
      <b><i>{{activityNode.activity.processName}}/{{activityNode.activity.name}}/{{activityNode.activity.id}}</i></b>
    </h4>
  </div>
  <div class="modal-body">
    <uib-tabset>
     <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" >
        <div ng-init="blvViewType = blvViewType;activityNode = activityNode" ng-include="tab.template"></div>
     </uib-tab>
     <uib-tab ng-repeat="tab in pagelets" heading="{{tab.displayName}}" >
        <div ng-init="modal = modal;pagelet = tab;blvViewType = blvViewType;ownerId = activityNode.activity.processDefinition.owner" ng-include="tab.template"></div>
      </uib-tab>
  </uib-tabset>
  </div>
  <div class="modal-footer"> 
    <button
      class="btn btn-primary"
      ng-click="close()">Close</button>
  </div>
  
  </div>
</body>
</html>