
<br />
<div ng-controller="blvValuesController">
  <div style="width: auto; height: auto">
    <table>
      <tr>
        <td><b>BAM Trigger:</b></td>
        <td><select
          ng-init="selectedOption = availableOptions[0]"
          ng-model="selectedOption"
          ng-options="bamEventType for bamEventType in availableOptions"
          ng-change="changeBamEvent()">
        </select></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan='3'><hr /></td>
      </tr>
      <tr>
        <td align='top'>&nbsp;</td>
        <td><table><td>
            <tr>
              <td><label
                class="col-sm-2 control-label"
                for='eventName'>Event Name: </label></td>
              <td><input
                class="form-control"
                size='20'
                ng-model="bamEvent.name" /></td>
              <td>&nbsp;</td>
              <td><label
                class="col-sm-2 control-label"
                for='bamrealm'>Realm: </label></td>
              <td><input
                class="form-control"
                name='bamrealm'
                id='bamrealm'
                size='20'
                ng-model="bamEvent.realm" /></td>
            </tr>
            <tr>
              <td><label
                class="col-sm-2 control-label"
                for='category'>Category: </label></td>
              <td><input
                class="form-control"
                name='category'
                id='category'
                size='20'
                ng-model="bamEvent.cat" /></td>
              <td>&nbsp;</td>
              <td><label
                class="col-sm-2 control-label"
                for='subcategory'>Subcategory: </label></td>
              <td><input
                name='subcategory'
                class="form-control"
                id='subcategory'
                size='20'
                ng-model="bamEvent.subcat" /></td>
            </tr>
            <tr>
              <td><label
                class="col-sm-2 control-label"
                for='component'>Component: </label></td>
              <td><input
                class="form-control"
                name='component'
                id='component'
                size='20'
                ng-model="bamEvent.component" /></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td align='right'><button
                  uib-popover="Clear BAM data"
                  popover-trigger="mouseenter"
                  ng-click="clear()">Clear</button></td>
            </tr>
            <tr>
              <td colspan='4'><hr /></td>
            </tr>
            </table>
            </td>
                  </tr>
    </table>
            
               <div
                  class="panel-heading mdw-heading"
                  ng-if="!edit &&  !add">
                  <div class="mdw-heading-label">BAM Attributes</div>
                  <div class="mdw-heading-actions">
                    <button
                      type="button"
                      class="btn btn-primary mdw-btn"
                      uib-popover="Add Row"
                      popover-trigger="mouseenter"
                      ng-click="addRow()">
                      <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger mdw-btn"
                      uib-popover="Delete Row"
                      popover-trigger="mouseenter"
                      ng-disabled="selectedRows.length == 0"
                      ng-click="deleteSelectedRows()">
                      <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                    <button
                      class="btn btn-success mdw-btn"
                      type="button"
                      uib-popover="Save all BAM data"
                      popover-trigger="mouseenter"
                      ng-click="saveAll()">
                      Save All BAM Data <span class="glyphicon glyphicon-save"></span>
                    </button>
                  </div>
                </div>
                <div
                  ui-grid="gridOptions"
                  ui-grid-edit
                  ui-grid-selection
                  ui-grid-cellnav
                  ui-grid-auto-resize
                  style="height: {{gridHeight}}"></div>
  </div>
</div>
