
<br />
<div ng-controller="attributesController">
  <div style="width: auto; height: auto">
               <div
                  class="panel-heading mdw-heading"
                  ng-if="!edit &&  !add">
                  <div class="mdw-heading-label">Override Attributes (View Only)</div>
                  <div class="mdw-heading-actions">
                    <!--  button
                      type="button"
                      class="btn btn-primary mdw-btn"
                      uib-popover="Add Row"
                      popover-trigger="mouseenter"
                      ng-click="addRow()">
                      <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger mdw-btn"
                      uib-popover="Delete Row"
                      popover-trigger="mouseenter"
                      ng-disabled="selectedRows.length == 0"
                      ng-click="deleteSelectedRows()">
                      <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                    <button
                      class="btn btn-success mdw-btn"
                      type="button"
                      uib-popover="Save all Attributes"
                      popover-trigger="mouseenter"
                      ng-click="saveAll()">
                      Save All Attributes <span class="glyphicon glyphicon-save"></span>
                    </button-->
                  </div>
                </div>
                <div
                  ui-grid="gridOptions"
                  ui-grid-edit
                  ui-grid-selection
                  ui-grid-cellnav
                  ui-grid-auto-resize
                  style="height: {{gridHeight}}"></div>
  </div>
</div>
