<div class="row">
  <div
    class="col-md-2 mdw-sidebar"
    ng-include="'layout/blv-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          Master Requests <span class="mdw-heading-sub">({{total}})</span>
        </div>
        <div class="mdw-heading-input">
          <input
            type="text"
            class="form-control mdw-inline"
            autofocus
            placeholder=" find request"
            ng-model="selected"
            uib-typeahead="requestId as request.id for request in find($viewValue)"
            typeahead-editable="false"
            typeahead-on-select="select()"
            ng-change="change()">
        </div>
      </div>
      <ul
        class="mdw-list"
        infinite-scroll="getNext()"
        infinite-scroll-distance="1"
        infinite-scroll-disabled="!hasMore()">
        <li
          ng-repeat="request in requests"
          ng-class="{'mdw-active':hovering}"
          ng-mouseenter="hovering=true"
          ng-mouseleave="hovering=false">
          <table
            colspan="2"
            width="100%">
            <tr>
              <td>
                <div class="mdw-item-sub">{{request.received}}</div>
                <div class="mdw-item-sub">{{request.id}}</div>
                <div class="mdw-item-sub">{{request.processInstance.processName}}</div>
              </td>
              <td class="mdw-heading-actions">
                <div ng-if="hovering">
                  <button
                    type="button"
                    class="btn btn-primary mdw-btn"
                    ng-click="goBusinessView(request.id)">
                    <span class="glyphicon glyphicon-user"></span> Business View
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary mdw-btn"
                    ng-click="goWorkflowView(request.id)">
                    <span class="glyphicon glyphicon-edit"></span> Workflow View
                  </button>
                </div>
              </td>
            </tr>
          </table>

        </li>
      </ul>
    </div>
  </div>
</div>