<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.eclipse.ui.intro.configExtension">
        <configExtension configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/DTP_overview.xml"/>
        <configExtension configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/DTP_tutorials.xml"/>
        <!-- placeholder for when we add a link to samples
        <configExtension configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/DTP_samples.xml"/> 
        -->
        <configExtension configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/DTP_whatsnew.xml"/>
    </extension>
</plugin>
