<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/requests-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">Service Requests <span class="mdw-heading-sub">({{total}})</span></div>
        <div class="mdw-heading-input">
          <input type="text" class="form-control mdw-inline" autofocus placeholder=" find request" 
            ng-model="selected" uib-typeahead="requestId as request.id for request in find($viewValue)" 
            typeahead-editable="false" typeahead-on-select="select()" ng-change="change()">
        </div>
      </div>
      <ul class="mdw-list" infinite-scroll="getNext()" infinite-scroll-distance="1" infinite-scroll-disabled="!hasMore()">
        <li ng-repeat="request in requests">
          <div class="mdw-item-sub">{{request.received}}</div>
          <div>
            <a class="mdw-item-link" href="#/serviceRequests/{{request.id}}">{{request.id}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>