<div class="mdw-widget-tbl">
  <div class="mdw-widget-tbl-head">
    <div ng-repeat="widget in tblWidget.widgets" ng-if="widget.source !== 'ProcessVersion'">{{widget.label}}</div>
  </div>
  <div ng-repeat="widgetRow in tblWidget.widgetRows">
    <div ng-repeat="widget in widgetRow" class="mdw-widget">
      <div class="mdw-widget-value" ng-include="'ui/widgets/' + widget.type + '.html'">
      </div>
    </div><button><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <div>
    <button><span class="glyphicon glyphicon-plus"></span></button>
  </div>
</div>
