<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/admin-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          <span class="glyphicon glyphicon-file mdw-item-icon"></span>
          <a ng-href="#/packages/{{packageName}}">{{packageName}}</a> / {{asset.name}} v{{asset.version}}
          <span class="mdw-diff" ng-if="asset.vcsDiff == 'DIFFERENT'">*</span>
          <span class="mdw-diff" ng-if="asset.vcsDiff == 'EXTRA'"><sup>+</sup></span>
          <span class="mdw-diff" ng-if="asset.vcsDiff == 'MISSING'"><sup>-</sup></span>
        </div>
        <div class="radio mdw-heading-options" ng-if="!asset.isBinary && asset.vcsDiff">
          <label class="radio-inline"><input type="radio" ng-model="asset.view" value="content">{{asset.language == 'proc' ? 'Workflow' : 'Content'}}</label>
          <label class="radio-inline"><input type="radio" ng-model="asset.view" value="gitDiff">Git Diff</label>
        </div>
        <div class="mdw-heading-actions">
          <a ng-href="{{asset.url}}" class="btn btn-default">
            <span class="glyphicon glyphicon-file"></span> View
          </a>            
          <a ng-href="{{asset.url}}?download=true" class="btn btn-default">
            <span class="glyphicon glyphicon-download-alt"></span> Download
          </a>            
        </div>
      </div>
      <div class="mdw-item-content" ng-if="asset.view == 'content' && asset.content">
        <img ng-if="asset.language == 'proc'" ng-src="{{asset.workflowImageUrl}}" alt="asset.name" />
        <pre ng-if="!asset.isBinary && !asset.isMarkdown && asset.language != 'proc'" class="mdw-line-nums">{{asset.lineNums}}</pre>
        <pre ng-show="!asset.isBinary && !asset.isMarkdown && asset.language != 'proc'" class="mdw-resource-content"><code class="mdw-code" ng-bind-html="asset.content | highlight:asset.language | unsafe"></code></pre>
        <div ng-show="asset.isMarkdown" class="mdw-resource-content"><div ng-bind-html="asset.content | markdown | unsafe"></div></div>
        <img ng-if="asset.isImage" ng-src="{{asset.url}}" alt="asset.name" />
      </div>
      <div class="mdw-inner-content" ng-if="asset.view == 'gitDiff'">
        <div class="col-md-6 mdw-split-left">
          <div class="mdw-resource-heading">Local</div>
          <pre class="mdw-line-nums" ng-if="asset.lineNums">{{asset.lineNums}}</pre>
          <pre class="mdw-resource-content" ng-if="asset.content"><code class="mdw-code" ng-bind-html="asset.content | diff:asset.remoteContent | unsafe"></code></pre>
        </div>      
        <div class="col-md-6 mdw-split-right">
          <div class="mdw-resource-heading">Remote</div>
          <pre class="mdw-line-nums" ng-if="asset.remoteLineNums">{{asset.remoteLineNums}}</pre>
          <pre class="mdw-resource-content" ng-if="asset.remoteContent"><code class="mdw-code" ng-bind-html="asset.remoteContent | diff:asset.content | unsafe"></code></pre>
        </div>
      </div>
    </div>
  </div>
</div>