<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/admin-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-checklist">
          <input type="checkbox" ng-if="!create" ng-model="pkgList.selectedState.all" ng-change="pkgList.toggleAll()"></input>
          Packages
          <span class="mdw-heading-sub" ng-if="pkgList.vcsBranch && pkgList.vcsRemoteUrl">
            (<a href="{{pkgList.vcsRemoteUrl}}">{{pkgList.vcsBranch}}</a>)
          </span>
          <span class="mdw-heading-sub" ng-if="pkgList.vcsBranch && !pkgList.vcsRemoteUrl">({{pkgList.vcsBranch}})</span>
        </div>
        <!-- actions currently only supported for Git  -->
        <div class="mdw-heading-actions" ng-if="pkgList.vcsBranch">
          <button type="button" class="btn btn-primary mdw-btn" ng-disabled="pkgList.getSelected().length <= 0"
            uib-popover-template="'assets/exportMenu.html'" popover-placement="left" pop-click>
            <span class="glyphicon glyphicon-download-alt"></span> Export
          </button>
          <button type="button" class="btn btn-primary mdw-btn" ng-disabled="pkgList.getSelected().length > 0" ng-if="authUser.hasRole('Process Design')"
            uib-popover-template="'assets/importMenu.html'" popover-placement="left" pop-click>
            <span class="glyphicon glyphicon-download-alt" style="transform:rotate(180deg)"></span> Import
          </button>
        </div>
      </div>
      <ul class="mdw-checklist">
        <li ng-repeat="pkg in pkgList.packages">
          <div style="float:left;">
            <input type="checkbox" ng-model="pkg.selected" ng-change="pkgList.notAllSelected()"></input>
          </div>
          <div>
            <a class="mdw-item-link" href="#/packages/{{pkg.name}}" 
            ng-class="{'mdw-warn': pkg.vcsDiff == 'DIFFERENT', 'mdw-ghost': pkg.vcsDiff == 'MISSING', 'mdw-okay': pkg.vcsDiff == 'EXTRA'}">
              <span class="glyphicon glyphicon-folder-open mdw-item-icon"></span>{{pkg.name}} v{{pkg.version}}</a>
            <span class="mdw-diff mdw-warn" ng-if="pkg.vcsDiff == 'DIFFERENT'">*</span>
            <span class="mdw-diff mdw-okay" ng-if="pkg.vcsDiff == 'EXTRA'"><sup>+</sup></span>
            <span class="mdw-diff mdw-ghost" ng-if="pkg.vcsDiff == 'MISSING'"><sup>-</sup></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>