<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/admin-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">Packages
          <span class="mdw-heading-sub" ng-if="pkgList.vcsBranch && pkgList.vcsRemoteUrl">
            (<a href="{{pkgList.vcsRemoteUrl}}">{{pkgList.vcsBranch}}</a>)
          </span>
          <span class="mdw-heading-sub" ng-if="pkgList.vcsBranch && !pkgList.vcsRemoteUrl">({{pkgList.vcsBranch}})</span>
        </div>
        <!-- actions currently only supported for Git  -->
        <div class="mdw-heading-actions" ng-if="pkgList.vcsBranch">
          <a ng-href="#/packages" class="btn btn-primary mdw-btn" ng-if="authUser.hasRole('Process Execution')" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
          </a>        
          <a ng-href="#/assets/import" class="btn btn-primary mdw-btn" ng-if="authUser.hasRole('Process Design')">
            <span class="glyphicon glyphicon-import"></span> Import
          </a>        
        </div>
      </div>
      <ul class="mdw-list">
        <li ng-repeat="pkg in pkgList.packages">
          <div>
            <a class="mdw-item-link" href="#/packages/{{pkg.name}}" 
            ng-class="{'mdw-warn': pkg.vcsDiff == 'DIFFERENT', 'mdw-ghost': pkg.vcsDiff == 'MISSING', 'mdw-okay': pkg.vcsDiff == 'EXTRA'}">
              <span class="glyphicon glyphicon-folder-open mdw-item-icon"></span>{{pkg.name}} v{{pkg.version}}</a>
            <span class="mdw-diff mdw-warn" ng-if="pkg.vcsDiff == 'DIFFERENT'">*</span>
            <span class="mdw-diff mdw-okay" ng-if="pkg.vcsDiff == 'EXTRA'"><sup>+</sup></span>
            <span class="mdw-diff mdw-ghost" ng-if="pkg.vcsDiff == 'MISSING'"><sup>-</sup></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>