<div class="mdw-flex-item">
  <div class="mdw-flex-item-left">
    <div>
      <input type="checkbox" ng-model="item.selected"  ng-change="listModel.notAllSelected()"></input>
      <div>
        {{item.packageName}}/
        <a class="mdw-item-link mdw-item-nowrap" href="#/blv-workflow/workflow/{{item.masterRequestId}}">
          {{item.processName}} v{{item.processVersion}} &nbsp; {{item.name}}&nbsp; {{item.id}}</a>
        <div class="mdw-item-sub">
          <span>Master request: <a href="#/blv-business/business/{{item.masterRequestId}}" class="mdw-link">{{item.masterRequestId}}</a></span>
        </div>
        <div class="mdw-item-sub">Started: <span class="mdw-item-sub-value">{{item.startDate}}</span></div>
        <div class="mdw-item-sub" ng-if="item.endDate">Completed: <span class="mdw-item-sub-value">{{item.endDate}}</span></div>
        <div class="mdw-item-sub" ng-if="item.message || item.alert">
          <img class="mdw-item-alert" ng-if="item.alert" src="images/alert.png" alt="alert" />
          <a href="" uib-popover-template="'workflow/activityMessage.html'" popover-placement="bottom-left">
            <i class="mdw-item-highlight">{{item.message | lineLimit: 80}}</i>
          </a>
        </div>
       </div>
    </div>
  </div>
  <div class="mdw-flex-item-right" style="min-width: 125px;">
    <div class="mdw-item">
      <span>{{item.status}}</span>
    </div>
  </div>
</div>