<!-- TODO: if sort gets more options, use a cleaner approach -->
<ul class="dropdown-menu mdw-popover-menu mdw-check-menu">
  <li ng-if="requestFilter.descending">
    <div class="mdw-checked">
      <i class="glyphicon glyphicon-ok"></i>
      <a class="mdw-drop-selected" href="">Newest First</a>
    </div>
  </li>
  <li ng-if="!requestFilter.descending">    
    <a href="" ng-click="requestFilter.descending=true">Newest First</a>
  </li>
  <li ng-if="!requestFilter.descending">
    <div class="mdw-checked">
      <i class="glyphicon glyphicon-ok"></i>
      <a class="mdw-drop-selected" href="">Oldest First</a>
    </div>
  </li>
  <li ng-if="requestFilter.descending">    
    <a href="" ng-click="requestFilter.descending=false">Oldest First</a>
  </li>
</ul>
