<!-- 
FIXME: select, filter, sort, actions, search -- all need to be wired up to real data from Requests service
 -->
<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/workflow-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">
          Requests <span class="mdw-heading-sub">({{total}})</span>
        </div>
        <div class="mdw-heading-input">
          <div class="mdw-inner-addon mdw-right-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control mdw-inline" autofocus placeholder="search">
          </div>
          <div class="mdw-inner-addon mdw-right-addon" uib-dropdown>
            <i class="glyphicon glyphicon-chevron-down"></i>
            <input type="text" class="form-control mdw-inline mdw-dropfilter mdw-med-indent mdw-med-width2"  
              value="{{requestTypes[requestType]}}" uib-dropdown-toggle readonly>
            <ul class="dropdown-menu mdw-dropdown-menu mdw-med-indent" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li>
                <a href="" ng-click="setRequestType('masterRequests')">Master Requests</a>
              </li>
              <li>
                <a href="" ng-click="setRequestType('inboundRequests')">Inbound</a>
              </li>
              <li>
                <a href="" ng-click="setRequestType('outboundRequests')">Outbound</a>
              </li>
            </ul>
          </div>
        </div>  

        <!-- NOTE: wrap attribute must be adjusted if action buttons are added or removed -->
        <mdw-actions wrap="1110px">
          <button type="button" class="btn btn-primary mdw-btn" mdw-action-pop-button 
            uib-popover-template="'workflow/requestFilters.html'"> 
            <span class="glyphicon glyphicon-filter"></span> Filter
          </button>        
          <button type="button" class="btn btn-primary mdw-btn" 
            mdw-action-pop-button uib-popover-template="'workflow/requestSort.html'"> 
            <span class="glyphicon glyphicon-sort"></span> Sort
          </button>
          <button type="button" class="btn btn-primary mdw-btn" ng-click="downloadExcel()">
            <span class="glyphicon glyphicon-download-alt"></span> Export
          </button>        
          <button type="button" class="btn btn-primary mdw-btn" mdw-route="#/dashboard/requests">
            <span class="glyphicon glyphicon-stats"></span> Chart
          </button>        
        </mdw-actions>
        
      </div>
      <div>
      </div>
      <ul class="mdw-list">
        <li ng-repeat="request in requests">
          <div ng-include="'workflow/requestItem.html'">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>