<div class="mdw-flex-item">
  <div class="mdw-flex-item-left">
    <div>
      <div>
        <a class="mdw-item-link mdw-item-nowrap" href="#/workflow/requests/{{request.id}}">
          {{item.masterRequestId ? item.masterRequestId : item.id}}
        </a>
        <div class="mdw-item-sub" ng-if="request.masterRequestId">
          {{item.packageName}}/<a class="mdw-link mdw-item-nowrap" href="#/blv-workflow/workflow/{{request.masterRequestId}}">
            {{item.processName}} v{{item.processVersion}} &nbsp;{{item.processInstanceId}}</a>
        </div>
        <div class="mdw-item-sub" ng-if="requestType != 'outboundRequests'"><a href="">Received: {{item.created}}</a></div>
        <div class="mdw-item-sub" ng-if="requestType == 'outboundRequests'"><a href="">Sent: {{item.created}}</a></div>
        <div class="mdw-item-sub" ng-if="request.responseId"><a href="">Responded: {{item.responded}}</a></div>
      </div>
    </div>
  </div>
  <div class="mdw-flex-item-right">
    <div class="mdw-item">
      <span>{{item.processStatus}}</span>
    </div>
  </div>
</div>