<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-if="!isMobile" ng-include="'layout/process-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label">Values for Process {{process.id}}</div>
      </div>
      <ul class="mdw-list">
        <li ng-repeat="(name, value) in values">
          <div>
            <a class="mdw-item-link" href="#//workflow/processes/{{process.id}}/values/{{name}}">{{name}}</a>
          </div>
          <div class="mdw-item-sub">{{value.type}}</div>
          <div class="mdw-item-sub">
            <i class="mdw-item-highlight">{{value.value | lineLimit: 80}}
              <span ng-if="value.value.getLines().length > 1">...</span>
            </i>
          </div>          
        </li>
      </ul>
    </div>
  </div>
</div>