<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-include="'layout/request-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label" ng-if="request.masterRequestId">
          Master Request: {{request.masterRequestId}} ({{request.id}})
        </div>
        <div class="mdw-heading-label" ng-if="!request.masterRequestId">
          {{request.outbound ? 'Outbound' : 'Inbound'}} Request: {{request.id}}
        </div>
        <div class="btn-group" style="margin-left:15px;" ng-if="request.format == 'json'">
          <label class="btn btn-primary mdw-push" ng-model="view.request" uib-btn-radio="'Raw'">Raw</label>
          <label class="btn btn-primary mdw-push" ng-model="view.request" uib-btn-radio="'Formatted'">Formatted</label>          
        </div>
      </div>
      <div class="mdw-section">
        <div ng-if="request.masterRequestId" style="margin-bottom:5px">
          Process ID: <a class="mdw-item-highlight" href="#/workflow/processes/{{request.processInstanceId}}">{{request.processInstanceId}}</a>
        </div>
        <div class="mdw-resource-info">
          <div ng-if="!request.outbound">Received: <span class="mdw-resource-value">{{request.created}}</span></div>
          <div ng-if="request.outbound">Sent: <span class="mdw-resource-value">{{request.created}}</span></div>
          <div ng-if="request.responseId">Responded: <span class="mdw-resource-value">{{request.responded}}</span></div>
          <div ng-if="request.statusCode">Status Code: <span class="mdw-resource-value">{{request.statusCode}}</span></div>          
          <div ng-if="request.statusMessage">Status Message: <span class="mdw-resource-value">{{request.statusMessage}}</span></div>          
        </div>
        <pre class="mdw-resource-content" ng-if="view.request != 'Formatted'"><code class="mdw-code" ng-bind-html="request.content | highlight:request.format | unsafe"></code></pre>
        <pre class="mdw-resource-content" ng-if="view.request == 'Formatted'"><code class="mdw-code" ng-bind-html="request.formattedContent | highlight:request.format | unsafe"></code></pre>
      </div>
    </div>  
  </div>
</div>
