<div class="row">
  <div class="col-md-2 mdw-sidebar" ng-include="'layout/request-nav.html'"></div>
  <div class="col-md-10">
    <div class="panel panel-default mdw-panel">
      <div class="panel-heading mdw-heading">
        <div class="mdw-heading-label" ng-if="request.masterRequestId">
          Master Response: {{request.masterRequestId}} ({{request.responseId}})
        </div>
        <div class="mdw-heading-label" ng-if="!request.masterRequestId">
          {{request.outbound ? 'Inbound' : 'Outbound'}} Response: {{request.responseId}}
        </div>
      </div>
      <div class="mdw-section">
        <div ng-if="request.masterRequestId" style="margin-bottom:5px">
          Process ID: <a class="mdw-item-highlight" href="#/workflow/processes/{{request.processInstanceId}}">{{request.processInstanceId}}</a>
        </div>
        <div class="mdw-resource-info">
          <span ng-if="request.outbound">Received: <span style="font-weight:bold;">{{request.responded}}</span></span>
          <span ng-if="!request.outbound">Sent: <span style="font-weight:bold;">{{request.responded}}</span></span>
          <span ng-if="request.statusCode"><br>Status Code: <span style="font-weight:bold;">{{request.statusCode}}</span></span>
          <span ng-if="request.statusMessage"><br>Status Message: <span style="font-weight:bold;">{{request.statusMessage}}</span></span>           
        </div>
        <pre class="mdw-resource-content"><code class="mdw-code" ng-bind-html="request.responseContent | highlight:request.responseFormat | unsafe"></code></pre>
      </div>
    </div>  
  </div>
</div>
