a#mdw-introLink img { background-image:url(graphics/mdw.png); }
a#mdw-introLink:hover img { background-image:url(graphics/mdw_hov.png); }
a#mdw-cookbookLink img { background-image:url(graphics/mdw.png); }
a#mdw-cookbookLink:hover img { background-image:url(graphics/mdw_hov.png); }
a#fuse-cookbookLink img { background-image:url(graphics/mdw.png); }
a#fuse-cookbookLink:hover img { background-image:url(graphics/mdw_hov.png); }
a#services-cookbookLink img { background-image:url(graphics/mdw.png); }
a#services-cookbookLink:hover img { background-image:url(graphics/mdw_hov.png); }
a#camel-cookbookLink img { background-image:url(graphics/mdw.png); }
a#camel-cookbookLink:hover img { background-image:url(graphics/mdw_hov.png); }