<ul class="nav mdw-nav" ng-style="getNavMenuWidthStyle(165)">
  <li nav-link="workflow/activity" full-width="activity-nav">
    <a href="#/workflow/activities/{{activity.id}}">
      Activity
    </a>
  </li>
  <li nav-link="workflow/activityLog" full-width="activity-nav">
    <a href="#/workflow/activities/{{activity.id}}/log">
      Log
    </a>
  </li>
</ul>
<ul class="nav mdw-nav" ng-style="getNavMenuWidthStyle(165)">
  <li nav-link="workflow/process" full-width="activity-nav">
    <a href="#/workflow/processes/{{activity.processInstanceId}}">
      Process
    </a>
  </li>
  <li nav-link="workflow/activities" full-width="activity-nav">
    <a href="#/workflow/activities">
      Activity List
    </a>
  </li>
</ul>
