<ul id="process-nav" class="nav mdw-nav" ng-style="getNavMenuWidthStyle(165)">
  <li nav-link="workflow/process" full-width="process-nav" ng-if="process.id">
    <a href="#/workflow/processes/{{process.id}}">
      Workflow Process
    </a>
  </li>
  <li nav-link="workflow/value*" ng-if="process.id">
    <a href="#/workflow/processes/{{process.id}}/values">
      Values
    </a>
  </li>
  <li nav-link="workflow/definition" full-width="process-nav">
    <a href="#/workflow/definitions/{{process.packageName}}/{{process.name}}/v{{process.version}}">
      Definition
    </a>
  </li>
  <li nav-link="workflow/run" ng-if="isRun">
    <a href="">
      Run
    </a>
  </li>
</ul>
<ul class="nav mdw-nav" ng-style="getNavMenuWidthStyle(165)">
  <li nav-link="workflow/processes">
    <a href="#/workflow/processes">
      Process List
    </a>
  </li>
  <li nav-link="workflow/definitions">
    <a href="#/workflow/definitions">
      Definitions
    </a>
  </li>
</ul>
