<ul id="process-nav" class="nav mdw-nav" ng-style="getNavMenuWidthStyle(165)">
  <li nav-link="workflow/process" full-width="process-nav">
    <a href="#/workflow/processes/{{process.id}}">
      Workflow Process
    </a>
  </li>
  <li nav-link="workflow/value*">
    <a href="#/workflow/processes/{{process.id}}/values">
      Values
    </a>
  </li>
  <li nav-link="workflow/definition" full-width="process-nav">
    <a href="#/workflow/definition/{{process.packageName}}/{{process.name}}/v{{process.version}}">
      Definition
    </a>
  </li>
</ul>
<ul class="nav mdw-nav">
  <li nav-link="workflow/processes">
    <a href="#/workflow/processes">
      Process List
    </a>
  </li>  
</ul>
