<ul class="nav mdw-nav">
  <li nav-link="tasks/task"><a href="#/tasks/{{task.id}}">Task Summary</a></li>
  <li nav-link="tasks/taskValues"><a href="#/tasks/{{task.id}}/values">Task Values</a></li>
  <li nav-link="tasks/subtasks"><a href="#/tasks/{{task.id}}/subtasks">Subtasks<span ng-if="">*</span></a></li>
  <li nav-link="tasks/notes"><a href="#/tasks/{{task.id}}/notes">Notes</a></li>
  <li nav-link="tasks/attachments"><a href="#/tasks/{{task.id}}/attachments">Attachments</a></li>
  <li nav-link="tasks/history"><a href="#/tasks/{{task.id}}/history">History</a></li>
</ul>
<ul class="nav mdw-nav">
  <li nav-link="tasks/tasks"><a href="#/tasks">Task List</a></li>
</ul>
